<div class="mobile-menu-area d-xl-none d-block">

  <div class="sub-menu" data-catalog-id="1">

    <ul class="mobile-menu__list">
      <li class="mobile-menu__item">
        <div data-link-id="1" class="mobile-menu__link  mobile-menu__link--active">
          <div class="mobile-menu__icon-block">
            <img src="img/arrow-back.svg" alt="Назад">
          </div>
          <span>Кофе</span>
        </div>
      </li>
      <li class="mobile-menu__item">
        <div data-link-id="2" class="mobile-menu__link ">
          <span>Плантационные сорта</span>
        </div>
      </li>
      <li class="mobile-menu__item">
        <div data-link-id="3" class="mobile-menu__link  ">
          <span>Купажи</span>
        </div>
      </li>
      <li class="mobile-menu__item">
        <div class="mobile-menu__link  ">
          <span>Десертные сорта</span>
        </div>
      </li>
      <li class="mobile-menu__item">
        <div class="mobile-menu__link  ">
          <span>Кофе в капсулах</span>
        </div>
      </li>
      <li class="mobile-menu__item">
        <div class="mobile-menu__link  ">
          <span>Царские подарки</span>
        </div>
      </li>
      <li class="mobile-menu__item">
        <div class="mobile-menu__link  ">
          <span>Микролоты</span>
        </div>
      </li>
      <li class="mobile-menu__item">
        <div class="mobile-menu__link  ">
          <span>Микролоты</span>
        </div>
      </li>
      <li class="mobile-menu__item">
        <div class="mobile-menu__link  ">
          <span>Микролоты</span>
        </div>
      </li>
      <li class="mobile-menu__item">
        <div class="mobile-menu__link  ">
          <span>Микролоты</span>
        </div>
      </li>
      <li class="mobile-menu__item">
        <div class="mobile-menu__link  ">
          <span>Микролоты</span>
        </div>
      </li>
      <li class="mobile-menu__item">
        <div class="mobile-menu__link  ">
          <span>Микролоты</span>
        </div>
      </li>
      <li class="mobile-menu__item">
        <div class="mobile-menu__link  ">
          <span>Микролоты</span>
        </div>
      </li>
      <li class="mobile-menu__item">
        <div class="mobile-menu__link  ">
          <span>Микролоты</span>
        </div>
      </li>
    </ul>


  </div>

  <div class=" sub-menu" data-catalog-id="2">
    <ul class="mobile-menu__list">
      <li class="mobile-menu__item">
        <div data-link-id="2" class="mobile-menu__link  mobile-menu__link--active">
          <div class="mobile-menu__icon-block">
            <img src="img/arrow-back.svg" alt="Назад">
          </div>
          <span>Чай</span>
        </div>
      </li>
      <li class="mobile-menu__item">
        <div data-link-id="2" class="mobile-menu__link ">
          <span>Плантационные сорта</span>
        </div>
      </li>
      <li class="mobile-menu__item">
        <div data-link-id="3" class="mobile-menu__link  ">
          <span>Купажи</span>
        </div>
      </li>
      <li class="mobile-menu__item">
        <div class="mobile-menu__link  ">
          <span>Десертные сорта</span>
        </div>
      </li>
      <li class="mobile-menu__item">
        <div class="mobile-menu__link  ">
          <span>Кофе в капсулах</span>
        </div>
      </li>
      <li class="mobile-menu__item">
        <div class="mobile-menu__link  ">
          <span>Царские подарки</span>
        </div>
      </li>
      <li class="mobile-menu__item">
        <div class="mobile-menu__link  ">
          <span>Микролоты</span>
        </div>
      </li>
      <li class="mobile-menu__item">
        <div class="mobile-menu__link  ">
          <span>Микролоты</span>
        </div>
      </li>
      <li class="mobile-menu__item">
        <div class="mobile-menu__link  ">
          <span>Микролоты</span>
        </div>
      </li>
      <li class="mobile-menu__item">
        <div class="mobile-menu__link  ">
          <span>Микролоты</span>
        </div>
      </li>
      <li class="mobile-menu__item">
        <div class="mobile-menu__link  ">
          <span>Микролоты</span>
        </div>
      </li>
      <li class="mobile-menu__item">
        <div class="mobile-menu__link  ">
          <span>Микролоты</span>
        </div>
      </li>
      <li class="mobile-menu__item">
        <div class="mobile-menu__link  ">
          <span>Микролоты</span>
        </div>
      </li>
      <li class="mobile-menu__item">
        <div class="mobile-menu__link  ">
          <span>Микролоты</span>
        </div>
      </li>
    </ul>

  </div>
  <div class=" sub-menu" data-catalog-id="3">
    <ul class="mobile-menu__list">
      <li class="mobile-menu__item">
        <div data-link-id="3" class="mobile-menu__link  mobile-menu__link--active">
          <div class="mobile-menu__icon-block">
            <img src="img/arrow-back.svg" alt="Назад">
          </div>
          <span>Посуда</span>
        </div>
      </li>
      <li class="mobile-menu__item">
        <div data-link-id="2" class="mobile-menu__link ">
          <span>Плантационные сорта</span>
        </div>
      </li>
      <li class="mobile-menu__item">
        <div data-link-id="3" class="mobile-menu__link  ">
          <span>Купажи</span>
        </div>
      </li>
      <li class="mobile-menu__item">
        <div class="mobile-menu__link  ">
          <span>Десертные сорта</span>
        </div>
      </li>
      <li class="mobile-menu__item">
        <div class="mobile-menu__link  ">
          <span>Кофе в капсулах</span>
        </div>
      </li>
      <li class="mobile-menu__item">
        <div class="mobile-menu__link  ">
          <span>Царские подарки</span>
        </div>
      </li>
      <li class="mobile-menu__item">
        <div class="mobile-menu__link  ">
          <span>Микролоты</span>
        </div>
      </li>
      <li class="mobile-menu__item">
        <div class="mobile-menu__link  ">
          <span>Микролоты</span>
        </div>
      </li>
      <li class="mobile-menu__item">
        <div class="mobile-menu__link  ">
          <span>Микролоты</span>
        </div>
      </li>
      <li class="mobile-menu__item">
        <div class="mobile-menu__link  ">
          <span>Микролоты</span>
        </div>
      </li>
      <li class="mobile-menu__item">
        <div class="mobile-menu__link  ">
          <span>Микролоты</span>
        </div>
      </li>
      <li class="mobile-menu__item">
        <div class="mobile-menu__link  ">
          <span>Микролоты</span>
        </div>
      </li>
      <li class="mobile-menu__item">
        <div class="mobile-menu__link  ">
          <span>Микролоты</span>
        </div>
      </li>
      <li class="mobile-menu__item">
        <div class="mobile-menu__link  ">
          <span>Микролоты</span>
        </div>
      </li>
    </ul>
  </div>
  <div class="mobile-menu">
    <div class="mobile-menu__main">
      <ul class="mobile-menu__list">
        <li class="mobile-menu__item">
          <a href="#" class="mobile-menu__link mobile-menu__link--active">
            <span>О нас</span>
          </a>
        </li>
        <li class="mobile-menu__item">
          <a href="#" class="mobile-menu__link">
            <span>Доставка и оплата</span>
          </a>
        </li>
        <li class="mobile-menu__item">
          <a href="#" class="mobile-menu__link">
            <span>Бонгид</span>
          </a>
        </li>
        <li class="mobile-menu__item">
          <a href="#" class="mobile-menu__link">
            <span>Новости</span>
          </a>
        </li>
        <li class="mobile-menu__item">
          <a href="#" class="mobile-menu__link">

            <span>Акции</span>
          </a>
        </li>
        <li class="mobile-menu__item">
          <a href="#" class="mobile-menu__link">
            <span>Контакты</span>
          </a>
        </li>
      </ul>
    </div>

    <div class="menu-catalog d-xl-none d-block">
      <div class="menu-catalog p-0">
        <div class="menu-catalog__title">
        <span>
          Каталог
          <!--<img src="img/menu-catalog-arrow.svg"-->
          <!--class="menu-catalog__arrow" alt="Каталог">-->
        </span>

        </div>
        <ul class="mobile-menu__list">
          <li class="mobile-menu__item">
            <div data-link-id="1" class="mobile-menu__link mobile-menu__link--arrow mobile-menu__link--active">
              <div class="mobile-menu__icon-block">
                <img src="img/mob-menu-icon-1.svg" alt="">
              </div>
              <span>Кофе</span>
            </div>
          </li>
          <li class="mobile-menu__item">
            <div data-link-id="2" class="mobile-menu__link mobile-menu__link--arrow">
              <div class="mobile-menu__icon-block">
                <img src="img/mob-menu-icon-2.svg" alt="">
              </div>
              <span>Чай</span>
            </div>
          </li>
          <li class="mobile-menu__item">
            <div data-link-id="3" class="mobile-menu__link mobile-menu__link--arrow ">
              <div class="mobile-menu__icon-block">
                <img src="img/mob-menu-icon-3.svg" alt="">
              </div>
              <span>Посуда</span>
            </div>
          </li>
          <li class="mobile-menu__item">
            <div class="mobile-menu__link mobile-menu__link--arrow ">
              <div class="mobile-menu__icon-block">
                <img src="img/mob-menu-icon-4.svg" alt="">
              </div>
              <span>Сладости</span>
            </div>
          </li>
          <li class="mobile-menu__item">
            <div class="mobile-menu__link mobile-menu__link--arrow ">
              <div class="mobile-menu__icon-block">
                <img src="img/mob-menu-icon-5.svg" alt="">
              </div>
              <span>Сиропы</span>
            </div>
          </li>
          <li class="mobile-menu__item">
            <div class="mobile-menu__link mobile-menu__link--arrow ">
              <div class="mobile-menu__icon-block">
                <img src="img/mob-menu-icon-6.svg" alt="">
              </div>
              <span>Царские подарки</span>
            </div>
          </li>
          <li class="mobile-menu__item">
            <div class="mobile-menu__link mobile-menu__link--arrow ">
              <div class="mobile-menu__icon-block">
                <img src="img/mob-menu-icon-7.svg" alt="">
              </div>
              <span>Прочее</span>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
