.mobile-menu-area,.mobile-filter-area
  position: fixed
  left: 0
  width: 100%
  height: 100%
  background-color: rgba(0,0,0, 0.8)
  opacity: 0
  pointer-events: none
  z-index: 50
  transition: 0.2s ease all
  &--active
    opacity: 1
    pointer-events: all

.mobile-menu,.sub-menu
  height: 100%
  background-color: #26282d
  position: absolute
  left: 0
  top: 0
  max-width: 320px
  width: 100%
  overflow-x: auto
  z-index: 10
  transform: translateX(-100%)
  transition: 0.2s ease all
  &--open
    transform: translateX(0)
  &__main
    background-color: #101017
    padding: 0 15px
  &__list
    position: relative
  &__item
    padding: 7px 0
    border-bottom: 1px dashed #9CA2AF
  &__item:last-child
    border-bottom: none
  &__link
    position: relative
    display: flex
    align-items: center
    transition: 0.2s ease all
    color: #FFD991
    cursor: pointer
    font: 500 15px/187% 'Open Sans', sans-serif
    &--active,  &:hover, &:active, &:focus
      font-weight: 700
      color: #DC7000
  &__link--arrow
    position: relative
    &::after
      content: ''
      background-image: url("../../../img/mob-menu-icon-arrow.svg")
      width: 7px
      position: absolute
      top: calc(50% - 6px)
      right: 0
      height: 12px
  &__icon-block
    width: 40px
    display: flex
    align-items: center
    justify-content: center

.menu-catalog
  padding: 8px 15px 4px 15px
  background-color: #26282D
  &__title
    position: relative
    cursor: pointer
    span
      position: relative
      font: 500 15px/187% 'Open Sans', sans-serif
      color: #fff
  &__arrow
    position: absolute
    top: calc(50% - 2px)
    right: -15px

.sub-menu
  background-color: #26282d
  z-index: 20
  .mobile-menu__list
    margin-right: 15px
  .mobile-menu__item:first-child
    margin-left: 9px
    border-bottom: none
    padding-bottom: 0
  .mobile-menu__item
    margin-left: 50px


