<script src="libs/jquery.js"></script>
<script src="libs/jquery-ui.js"></script>
<script src="libs/jquery-ui-touch.js"></script>
<script src="libs/bootstrap.bundle.min.js"></script>
<script src="libs/select/select.js"></script>
<script src="libs/swiper/swiper-bundle.min.js"></script>
<script src="js/bundle.js"></script>

</body>
