<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="utf-8"/>
  <meta name="viewport" content="width=device-width, height=device-height"/>
  <!--    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-modal/0.9.1/jquery.modal.min.css" />-->

  <!--    <link rel="stylesheet" href="libs/fancy/jquery.fancybox.min.css" />-->
  <!--    <script src="libs/fancy/jquery.fancybox.min.js"></script>-->

  <link rel="stylesheet" href="libs/swiper/swiper-bundle.min.css"/>
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link rel="stylesheet" href="fonts/stylesheet.css"/>
  <link rel="stylesheet" href="css/style.bundle.css"/>
  <title><%=title%></title>
</head>
<body>

