<nav aria-label="breadcrumb">
  <ul class="breadcrumb">
    <li class="breadcrumb__item ">
      <a href="/"><span>Главная</span></a>
    </li>
    <li class="breadcrumb__item ">
      <a href="/"><span>Акции</span></a>
    </li>
    <li class="breadcrumb__item "><span>Кофе</span></li>
  </ul>
</nav>


