.breadcrumb
  background-color: transparent
  display: flex
  flex-wrap: wrap
  padding: 0 0 20px 0
  margin-bottom: 0
  &__item:last-child
    span
      color: #DC7000
    &::before
      display: none
  &__item
    position: relative
    font: 400 18px/25px "Open Sans", sans-serif
    color: #fff
    padding: 0px 35px 0px 0
    margin-bottom: 5px
    @media all and (max-height: 575.8px)
      font-size: 15px
      line-height: 20px
      padding: 0px 25px 0px 0
    span
      color: #fff
    &:hover,
    &--active
      color: #DC7000
    &::before
      position: absolute
      right: 9px
      content: ''
      width: 16px
      border-radius: 5px
      height: 2px
      background-color: #C5C5C5
      top: 50%
      @media all and (max-width: 575.8px)
        width: 10px
        right: 12px


