.banner
  padding-top: 115px
  padding-bottom: 136px
  height: 100%
  &__title
    color: #FFD991
    font: 700 74px/130% 'Open Sans', sans-serif
    margin-bottom: 65px
    max-width: 800px
    width: 100%
    @media all and (max-width: 767.8px)
      font: 700 50px/120% 'Open Sans', sans-serif
    @media all and (max-width: 575.8px)
      font: 700 36px/120% 'Open Sans', sans-serif
  &__sub-title
    color: #FFFFFF
    letter-spacing: 0.05em
    font: 400 44px/155% 'Pattaya', sans-serif
    margin-bottom: 55px
    @media all and (max-width: 767.8px)
      font: 700 30px/120% 'Open Sans', sans-serif
    @media all and (max-width: 575.8px)
      font: 700 24px/120% 'Open Sans', sans-serif
  &__button
    height: 55px
    font: 700 18px/100% 'Open Sans', sans-serif
    color: #fff
    padding-left: 40px
    padding-right: 70px
    @media all and (max-width: 767.8px)
      height: 40px
    span
      position: relative
    img
      position: absolute
      transition: 0.2s ease all
      transform: translateX(100%)
      right: -10px
      top: 2px
    &:hover, &:active, &:focus
      img
        right: -15px

.swiper-banner
  &__image
    max-width: 100%
    object-fit: cover
    width: 100%
    height: 842px
    //max-height: 842px
    background-size: cover
    background-position: center
    background-repeat: no-repeat
    @media all and (max-width: 767.8px)
      height: initial
