.button
  max-width: max-content
  border-color: transparent
  text-decoration-line: none
  transition: 0.2s ease all
  cursor: pointer
  font: 400 14px/16px 'Open Sans', sans-serif
  display: flex
  align-items: center
  justify-content: center
  padding: 5px 10px
  border-radius: 5px
  width: 100%
  &--orange
    background: #CE7115
    color: #fff
    &:hover, &:active, &:focus
      color: #fff
      background: #B25E0A
  &--gray
    background-color: #26282D
    color: #fff
    &:hover, &:active, &:focus
      color: #fff
      background: #26282D
  &--cont
    border: 1px solid #979797
    background-color: #5a5a5a
    color: #fff
    &:hover, &:active, &:focus
      background-color: #979797
      color: #fff
