
.checkbox input
  display: none

//.checkbox label
//  user-select: none
//  cursor: pointer
//  font: 400 0.9375rem/1.125rem "Lato", sans-serif
//  .count
//    margin-left: 0.3125rem
//    color: #8C97AC
//    font-weight: 700


.checkbox .cr
  cursor: pointer
  display: inline-block
  width: 1.25rem
  position: relative
  flex: 0 0 1.25rem
  height:  1.25rem
  border: 0.0625rem solid  #979797
  background-color: #333439
  border-radius: 0
  img, svg
    transform: scale(0.8)
    width: 1.125rem
    height: 0.8125rem


.checkbox label input:checked + .cr
  background: #DC7000
  border: 1px solid #D6D6D6

.checkbox label input + .cr > p,
.checkbox label input + .cr > p
  transform: rotate(-130deg) scaleY(1)
  opacity: 0
  transition: all 0.3s ease-in

.checkbox label input:checked + .cr > p,
.checkbox label input:checked + .cr > p
  opacity: 1

.checkbox
  cursor: pointer
  .check-task
    display: flex
    align-items: flex-start
    width: 100%
    cursor: pointer


.checkbox
  &__text
    color: #FFFFFF
    font: 400 15px/19px 'PT Sans', sans-serif
    a
      text-decoration-line: underline
      color: #FFD991
