.filter-block
  display: flex
  flex-direction: column
  margin-bottom: 30px
  position: relative
  z-index: 10

.filter
  display: flex
  align-items: center
  //justify-content: space-between
  margin-bottom: 40px
  &__name
    font: 600 18px/120% 'Open Sans', sans-serif
    color: #FFFFFF
    margin-right: 20px
    span
      font: 300 15px/20px 'Open Sans', sans-serif

  .select-filter-label
    position: relative
    width: 150px
    flex: 0 0 150px
    margin-left: auto

.filter-block
  &__type
    position: relative
    &::after
      content: ''
      bottom: 0
      position: absolute
      width: 100%
      left: 0
      background-image: url("../img/filter-border.svg")
      height: 1.5px

.filter-buttons
  padding-top: 30px
  padding-bottom: 30px
  display: flex
  flex-direction: column
  align-items: center
  &__reset
    color: #CE7115
    font-style: italic
    font: 600 18px/100% 'Open Sans', sans-serif
    margin-bottom: 18px
    border-bottom: 0.5px solid  #CE7115
    &:hover, &:active, &:focus
      color: #CE7115
  .button--orange
    padding: 15px 33px
    font: 700 18px/100% 'Open Sans', sans-serif

