html,body
  min-height: 100%
  min-width: 320px
  font-family: 'Open Sans',sans-serif

body.stop
  overflow: hidden
body
  overflow-x: hidden
a
  position: relative
  color: #000
  text-decoration-line: none
  &:hover, &:active, &:focus
    color: #000
    text-decoration-line: none
select,option
  visibility: hidden
p
  margin: 0
  position: relative
  a
    color: #DC7000

.h-100
  height: 100%

label
  margin: 0
input
  width: 80%
  box-shadow: none
  background-color: #fff
  outline: none
  border: none
  font: 300 15px/20px 'Open Sans', sans-serif
  &::placeholder
    font: 300 15px/20px 'Open Sans', sans-serif
    color: #121218
  &:hover, &:active, &:focus
    background-color: inherit


.title-block
  position: relative
  padding: 20px 0
  z-index: 1
  text-align: center
  .title
    word-break: break-word
    color: #FFD991
    font: 700 44px/116% 'Open Sans' sans-serif

.sub-title
  word-break: break-word
  position: relative
  z-index: 1
  text-align: center
  color: #DC7000
  font: 600 34px/36px 'Open Sans', sans-serif

.absolute-image
  max-width: 100%
  position: absolute
  pointer-events: none
  @media all and (max-width: 991.9px)
    max-width: 50%
  @media all and (max-width: 767.9px)
    max-width: 30%

::-webkit-scrollbar
  width: 5px               /* ширина scrollbar */

::-webkit-scrollbar-track
  background: #26282D       /* цвет дорожки */

::-webkit-scrollbar-thumb
  background-color: #CE7115   /* цвет плашки */
  border-radius: 10px     /* закругления плашки */
  border: 5px solid #CE7115    /* padding вокруг плашки */

.form-label
  color: #BDBDBD
  margin-bottom: 13px
  text-transform: uppercase
  font: 400 13px/20px 'Open Sans', sans-serif
  //white-space: nowrap
  display: block

.form-input
  height: 40px
  padding-left: 10px
  padding-right: 10px
  border: 1px solid #979797
  background: #333439
  font: 500 15px/22px 'Open Sans', sans-serif
  color: #fff
  border-radius: 5px
  &:focus, &:hover, &:active
    outline: none
    background: #333439
    box-shadow: none
    border-color:  #979797

textarea
  padding: 10px

.form-check
  cursor: pointer
  display: flex
  margin: 0
  padding: 0
  user-select: none
  min-height: auto
  .form-check-input
    margin: 0
    width: 15px
    height: 15px
    border: 1px solid #8C8C8C
    float: inherit
    &[type=radio],
    &[type=checkbox]
      border-radius: 3px
      background-color: #DC7000
  .form-check-input:checked
    box-shadow: none
    border-color: #0d6efd
  &__agreem
    display: inline-block
    .form-check-input
      position: relative
      top: 2px


@media (min-width: 576px)
  .container, .container-lg, .container-md, .container-sm, .container-xl
    max-width: 570px

@media (min-width: 768px)
  .container, .container-lg, .container-md, .container-sm, .container-xl
    max-width: 750px

@media (min-width: 992px)
  .container, .container-lg, .container-md, .container-sm, .container-xl
    max-width: 990px

@media (min-width: 1200px)
  .container, .container-lg, .container-md, .container-sm, .container-xl
    max-width: 1170px


