.modal-cheaper,.modal-product-add
  padding: 45px 35px 50px 35px
  max-width: 565px
  background: rgba(38, 40, 45, 0.95)
  box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.55)
  border-radius: 10px
  &__title
    color: #DC7000
    margin-bottom: 15px
    font: 700 27px/37px 'Open Sans', sans-serif
    text-transform: uppercase
  &__text
    color: #fff
    font: 600 15px/20px 'Open Sans', sans-serif
    margin-bottom: 30px
    a
      text-decoration-line: underline
      color: #fff
      font: 600 15px/20px 'Open Sans', sans-serif
      &:hover, &:active, &:focus
        color: #fff
  .form-label
    color: #848484
    font-size: 12px
    line-height: 16px
    margin-bottom: 6px
  .form-control
    height: 35px
  &__input-container
    margin-bottom: 15px
    input
      width: 100%
  &__close
    background: transparent
    padding: 10px!important
    top: 10px
    right: 10px
    position: absolute
  &__text-area
    height: 65px
    resize: none
    width: 100%

.modal-cheaper
  margin-bottom: 30px

.modal-cheaper__footer
  display: flex
  align-items: center
  .button--orange
    margin-bottom: 20px
    text-transform: uppercase
    max-width: 255px
    width: 100%
    min-height: 40px
    font: 700 15px/20px 'Open Sans', sans-serif

.stock-checkbox
  margin-bottom: 20px
  .checkbox__text, a
    color: #fff
    font-family: "Open Sans", sans-serif

  .checkbox__cr
    top: 3px
    margin-right: 20px

.input-group
  width: auto
  flex-wrap: wrap
  margin: 0 -10px
  .modal-cheaper__input-container
    margin-left: 10px
    margin-right: 10px
    width: 100%



.modal-product-add
  padding: 30px 35px 30px 35px
  &__content
    display: flex
    width: 100%
  .card__image-block
    width: 190px
    height: 190px
    img
      width: 100%
  .card__title
    text-align: left
    margin-bottom: 10px
  &__info
    padding-left: 10px
    padding-top: 20px
  &__price
    margin-top: 50px
    align-items: center
    flex-wrap: wrap
    justify-content: flex-start
    .control
      margin: 5px 20px 5px 0
      max-width: 150px
      width: 100%
  .total
    margin-left: auto
  &__footer
    margin: 15px -5px 0 -5px
    display: flex
    width: 100%
    .button
      text-transform: uppercase
      font: 700 15px/20px 'Open Sans', sans-serif
      flex: 1 1 auto
      margin: 0 5px 10px 5px
      max-width: 100%
  .card__price .rub
    padding-left: 0

@media (min-width: 992px)
.modal-dialog
  max-width: 550px

@media (max-width: 575.9px)
  .modal-product-add__content
    flex-direction: column
    align-items: center
  .modal-product-add__info
    padding-left: 0
  .modal-cheaper,.modal-product-add
    padding: 25px 15px 30px 15px
