.section-cart,
.section-contact,
.product-page-area,
.section-delivery,
.section-politics,
.section-stocks,
.section-about,
.section-history,
.section-stocks-gift,
.section-catalog-page
  position: relative
  padding-top: 35px
  @media all and (max-width: 575.8px)
    padding-top: 20px

.section-page-title
  background-position: center
  background-repeat: no-repeat
  background-size: cover
  width: 100%
  height: 165px
  display: flex
  justify-content: center
  align-items: center
  padding-top: 15px
  padding-bottom: 15px
  @media all and (max-width: 575.8px)
    height: 55px
  &--coffe
    background-image: url("../img/cofee.jpg")
  &--tea
    background-image: url("../img/tea.jpg")
  &--stocks
    background-image: url("../img/stocks.jpg")
  &--history
    background-image: url("../img/history-bg.png")
  &--news
    background-image: url("../img/news.jpg")
  &__title
    text-align: center
    color: #FFD991
    font: 700 44px/116% 'Open Sans', sans-serif
    @media all and (max-width: 575.8px)
      font-size: 21px

.section-empty-page
  background-image: url("../img/bg-404.jpg")
  width: 100%
  height: 884px
  background-position: center
  background-repeat: repeat
  background-size: cover
  @media all and (max-width: 767.8px)
    background-position: 65%
    height: auto
  @media all and (max-width: 575.8px)
    background-position: 75%

.empty-page
  padding-top: 80px
  padding-bottom: 195px
  &__title
    text-align: center
    color: #FFD991
    font: 600 300px/115% 'Open Sans', sans-serif
    @media all and (max-width: 767.8px)
      font: 600 100px/115% 'Open Sans', sans-serif
  &__text, &__desc
    text-align: center
    font: 600 26px/26px 'Open Sans', sans-serif
    margin-bottom: 25px
    color: #fff
  &__desc
    font-size: 20px
    font-weight: 400
  &__button-orange
    padding-top: 7px
    padding-bottom: 7px
    margin-top: 85px
    max-width: 292px
    text-transform: uppercase
    font: 700 15px/20px 'Open Sans', sans-serif

.section-stocks
  background: #181C21
  padding-bottom: 90px

.stocks
  &__list
    padding: 15px 0
  .col
    display: flex
    justify-content: center

.stock
  cursor: pointer
  display: inline-block
  margin-bottom: 35px
  &:hover
    .stock__text
      span
        color: #DC7000
        &::before
          width: 100%
    .stock__image-block
      img
        transform-origin: top right
        transform: scale(1.01)
  &__image-block
    padding: 0 0 20px 20px
    background-image: url("../img/stocks-line.svg")
    background-position: inherit
    background-repeat: no-repeat
    background-size: cover
    margin-bottom: 13px
    img
      object-fit: cover
      //width: 100%
      max-width: 100%
      //height: auto
      transition: 0.2s ease all
  &__text
    padding-left: 20px
    padding-right: 20px
    span
      position: relative
      transition: 0.2s ease all
      color: #FFD990
      font: 600 21px/29px 'Open Sans', sans-serif
      &::before
        transition: 0.2s ease all
        position: absolute
        content: ''
        bottom: 0
        left: 0
        width: 0
        height: 1px
        background-color: #DC7000

.section-politics
  position: relative
  background: #000000

.politics
  padding-bottom: 35px
  .title-block
    text-align: center

.politics-content
  background: #FFFFFF
  padding: 45px 0 94px
  h6
    margin-bottom: 15px
    font: 600 21px/26px 'Open Sans', sans-serif
    color: #DC7000
  p
    font: 400 17px/25px 'Open Sans', sans-serif
    color: #0C0C0C
  a
    font: 700 17px/25px 'Open Sans', sans-serif
    color: #0C0C0C

.section-history
  background: #000000
  padding-bottom: 100px
  position: relative
  overflow: hidden
  &__image-1
    position: absolute
    left: 0
    top: 300px
  &__image-2
    position: absolute
    right: 0
    bottom: 370px

.section-stocks-gift
  background-color: #181c21
  padding-bottom: 90px

.news-item
  padding-left: 50px
  .history-item__r
    max-width: 490px
    flex: 0 0 490px
    @media all and (max-width: 991.8px)
      flex: 1 1 auto
  .stock__image-block
    padding-left: 40px
    padding-bottom: 40px
    @media all and (max-width: 575.8px)
      padding-left: 20px
      padding-bottom: 20px
  .history-item__title
    font: 600 20px/27px 'Open Sans', sans-serif
    margin-bottom: 15px
  .history-item__desc
    font-weight: 400

.history
  &__title
    color: #DC7000
    margin-bottom: 40px
    text-align: center
    font: 600 42px/46px 'Open Sans', sans-serif

.history-list
  display: flex
  position: relative
  z-index: 1
  flex-direction: column
  width: 100%

.history-item
  padding: 60px 40px 18px 40px
  background: #26282D
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2)
  border-radius: 5px
  margin-bottom: 20px
  @media all and (max-width: 575.8px)
    padding-left: 15px
    padding-right: 15px
  &__main-content
    display: flex
    margin-bottom: 18px
  &__r
    max-width: 360px
    flex: 0 0 360px
    @media all and (max-width: 991.8px)
      flex: 1 1 auto
      margin: 0 auto 20px auto
    .stock
      margin-bottom: 0
  &__l
    padding-left: 50px
    @media all and (max-width: 991.8px)
      padding-left: 0
  &__image-block
    width: 100%
  &__text
    font: 600 17px/23px 'Open Sans', sans-serif
    color: #DC7000
    padding: 0 20px
    @media all and (max-width: 991.8px)
      padding: 0
  &__title
    font: 600 34px/36px 'Open Sans', sans-serif
    color: #F4C06F
    margin-bottom: 30px
  &__desc
    color: #FFFFFF
    font: 600 17px/26px 'Open Sans', sans-serif
    span
      color: #DC7000
    a
      text-decoration-line: underline
    .hidden-text, .open-text
      color: #F4C06F
  &__content-desc
    padding-bottom: 18px

.news-list
  margin-top: 35px

.gift-set
  position: relative

.gift
  margin-bottom: 30px
  padding: 0 25px
  @media all and (max-width: 991.8px)
    padding: 0
  &__image-block
    width: 100%
    max-height: 445px
    margin-bottom: 10px
    img
      max-width: 100%
      height: 100%
      object-fit: cover
      object-position: center
  &__name
    text-align: center
    color: #FFD991
    font: 400 34px/185% 'Pattaya', sans-serif
    margin-bottom: 25px
  &__count-block
    //min-height: 210px
    background-color: #26282D
    border-radius: 5px
    padding: 40px 40px 40px 40px
    @media all and (max-width: 767.8px)
      padding: 15px
  &__count-block-line
    position: relative
    width: 100%
    min-height: 130px
    background-position: center
    &::after, &::before
      pointer-events: none
      content: ''
      position: absolute
      height: 100%
      background-size: contain
      background-repeat: no-repeat
      width: 100%
      top: 0
      @media all and (max-width: 575.8px)
    //display: none
    &::after
      left: 0
      background-image: url("../img/gift-block-line-left.svg")
    &:before
      right: 0
      transform: scale(-1, 1)
      background-image: url("../img/gift-block-line-left.svg")
  .gift__price
    position: relative
    top: -13px
    margin-bottom: 0
    z-index: 1
    & > *
      background-color: #26282D
    .card__price .rub
      background-color: #26282D
  &__art
    text-align: center
    margin-bottom: 40px
    font: 400 18px/25px 'Open Sans', sans-serif
    color: #fff
  .button--orange
    padding: 5px 8px
    font: 600 17px/23px 'Open Sans', sans-serif
  &__control
    position: relative
    top: 6px
    z-index: 2
  .control, .button--orange
    margin: 0 5px 5px 5px

.gift-line
  background-image: url("../img/line-gift.svg")
  display: block
  background-position: 50%
  background-repeat: no-repeat
  background-size: auto
  width: 100%
  height: 1.5px
  margin: 0 auto

.gift-info
  margin-top: 55px
  padding: 0 65px
  @media all and (max-width: 991.8px)
    padding: 0
  &__text
    color: #fff
    font: 400 18px/25px 'Open Sans', sans-serif

.section-contact
  background-image: url("../img/contact.jpg")
  width: 100%
  height: 100%
  padding-bottom: 150px
  .title-block
    margin-bottom: 120px

.contact
  max-width: 505px
  width: 100%
  margin: 0 auto
  overflow: hidden
  background-color: #fff
  padding: 20px 40px 20px 40px
  border-radius: 5px
  @media all and (max-width: 575.8px)
    padding: 20px
  &__image-line
    pointer-events: none
    position: absolute
    left: -20px
    top: 0
    height: 100%
    @media all and (max-width: 575.8px)
      left: -10px
      top: -10px
  &__info
    position: relative
    padding: 25px 0 0 0
    display: flex
    flex-direction: column
    margin-bottom: 20px
    @media all and (max-width: 575.8px)
      padding: 0 0 10px 0
  &__text
    font: 400 18px/25px 'Open Sans', sans-serif
    color: #101017
    margin-bottom: 10px
  &__link
    display: flex
    color: #101017
    margin-bottom: 13px
    font: 400 15px/20px 'Open Sans', sans-serif
    strong
      font-weight: 700
  &__image-block
    width: 18px
    margin-right: 8px

.contact-doc
  position: relative
  margin-bottom: 45px
  &::after
    position: absolute
    content: ''
    left: 0
    bottom: -20px
    width: 100px
    height: 2px
    background-color: #FFD991
  &__title
    font: 700 15px/20px 'Open Sans', sans-serif
    color: #000
  &__info
    font: 400 15px/20px 'Open Sans', sans-serif
    color: #000

.map-area
  overflow: hidden
  border-radius: 5px
  height: 250px
  z-index: 1
  position: relative

.section-about
  background: #000000
  padding-bottom: 65px
  .title-block
    padding-bottom: 15px
  .sub-title
    margin-bottom: 35px

.section-about-block
  position: relative
  background-color: #26282D
  padding: 50px 0

.about-block__image-1,
.about-block__image-2
  position: absolute
  z-index: 0

.about-block__image-1
  top: -220px
  left: 0

.about-block__image-2
  right: 0
  top: 85px

.about-info
  font: 600 17px/26px 'Open Sans', sans-serif
  color: #fff
  span
    color: #DC7000

.about-preview
  position: relative
  //background-image: url("../img/about-preview.png")
  //background-size: 100%
  //background-repeat: no-repeat
  //background-position: center
  max-width: 100%
  max-height: 455px
  margin: 0 auto
  img
    max-width: 100%

.section-about-advantages
  background-color: #181C21
  padding: 75px 0

.advantages-list
  position: relative

.advantages-item
  //display: flex
  position: relative
  margin-bottom: 80px
  min-height: 380px
  @media all and (max-width: 991.8px)
    min-height: auto
  &__info
    padding-top: 120px
    @media all and (max-width: 991.8px)
      padding-top: 50px
  &__title
    font: 600 27px/37px 'Open Sans', sans-serif
    color: #FFD990
    position: relative
    margin-bottom: 15px
    &::after
      border-radius: 1px
      left: 0
      content: ''
      position: absolute
      background-color: #FFD990
      width: 30px
      height: 5px
      top: -10px
  &__text
    color: #fff
    font: 400 17px/26px 'Open Sans', sans-serif
    margin-bottom: 15px

.section-about-item
  overflow: hidden
  position: relative
  background-color: #181C21
  &__image
    position: absolute
    @media all and (max-width: 991.8px)
      top: 20% !important
    &--i1
      right: 0
      top: 0
    &--i2
      left: 0
      top: 0

.about-item-info-image
  position: absolute
  top: 0
  right: 0
  @media all and (max-width: 991.8px)
    position: relative
    width: 100%
  &--right
    left: 0
    right: auto

.section-about-wrapper-bg
  background-color: #181c21

.section-about-slider
  position: relative
  padding: 60px 0 40px 0
  background-color: #26282D
  &__image-1
    top: 30px
    left: 0
  &__image-2
    top: 20px
    right: 0
  .sub-title
    margin-bottom: 35px
  .about-info
    margin-bottom: 100px

.about-indent
  background-color: #000
  height: 80px

.section-delivery
  background-image: url("../img/delivery-3.png")
  background-repeat: no-repeat
  background-position: 50% 60%
  overflow: hidden
  position: relative
  background-color: #000
  @media all and (max-width: 991.8px)
    background-size: contain
  @media all and (max-width: 575.8px)
    background-image: none
  .title-block
    margin-bottom: 70px
  .container, .row
    position: relative
  &__image-1
    top: 145px
    left: 0
  &__image-2
    bottom: 600px
    right: 0

.delivery__image-bg
  z-index: 0
  top: 13%
  right: -352px
  content: ''
  width: 100%
  max-width: 1179px
  height: 972px
  object-fit: contain
  @media all and (max-width: 767.8px)
    right: -100px
    top: 10%

.delivery__image-bg-last
  z-index: 0
  bottom: 13%
  left: -200px
  content: ''
  width: 100%
  max-width: 935px
  height: 789px
  object-fit: contain
  @media all and (max-width: 767.8px)

.delivery
  position: relative
  margin-bottom: 130px
  @media all and (max-width: 991.8px)
    margin-bottom: 50px
  &__title
    color: #fff
    font: 600 34px/36px 'Open Sans', sans-serif
    margin-bottom: 35px
  &__sub-title
    color: #DC7000
    margin-bottom: 15px
    font: 600 21px/26px 'Open Sans', sans-serif
  &__text
    color: #fff
    font: 600 17px/26px 'Open Sans', sans-serif
    margin-bottom: 25px
    span
      color: #DC7000
  &__list
    margin-bottom: 40px
    li
      margin-bottom: 30px
    li:last-child
      margin-bottom: 0
    img
      margin-right: 15px

.product-page-area
  background-color: #000000

.section-product
  background-color: #000000
$p60: 60px
$p20: 15px
.product-cart
  margin-top: 23px
  padding: 50px 0 50px 0
  position: relative
  background-color: #26282D
  box-shadow: 0px 2px 25px rgba(0, 0, 0, 0.15)
  border-radius: 5px
  @media all and (max-width: 767.8px)
    padding-top: 20px
  &__image-1
    left: 0
    bottom: 0
  &__image-2
    right: 0
    top: 176px
  &__image-3
    right: 0
    bottom: 30px
  &__image-block
    background-image: url("../img/product-cart-image-border.svg")
    max-width: 390px
    width: 100%
    //width: 100%
    max-height: 390px
    padding: 20px
    height: 100%
    display: flex
    align-items: center
    justify-content: center
    border-radius: 50%
    background-size: contain
    background-position: center
    background-repeat: no-repeat
    margin-bottom: 20px
    img
      border-radius: 50%
      //width: 100%
      max-width: 100%
  //height: 100%

  &__image-content
    position: relative
    margin-bottom: 20px
    display: flex
    flex-direction: column
    align-items: center
    padding-left: 53px
    padding-top: 14px
    @media all and (max-width: 991.8px)
      padding-left: $p60
      padding-right: $p60
    @media all and (max-width: 767.8px)
      padding-left: $p20
      padding-right: $p20
  &__art
    margin-bottom: 20px
    font: 400 16px/22px 'Open Sans', sans-serif
    color: #fff
  &__content
    margin-left: 60px
    max-width: 455px
    width: 100%
    position: relative
    @media all and (max-width: 1199.8px)
      margin-left: 0px
      padding-left: 30px
    @media all and (max-width: 991.8px)
      max-width: 100%
      padding-left: $p60
      padding-right: $p60
    @media all and (max-width: 767.8px)
      padding-left: $p20
      padding-right: $p20
  &__name
    color: #FFD991
    font: 400 44px/50px 'Pattaya', sans-serif
    margin-bottom: 25px
    word-break: break-word
    @media all and (max-width: 575.8px)
      font-size: 34px
      line-height: 36px
  &__text
    font: 400 18px/25px 'Open Sans', sans-serif
    font-style: italic
    color: #fff
    margin-bottom: 25px
    span
      color: #DC7000
  &__list
    display: flex
    flex-direction: column
    margin-bottom: 25px
  &__item
    margin-bottom: 10px
    &:last-child
      margin-bottom: 0

.product-cart-rating
  margin-bottom: 20px
  .product-cart__list
    margin-bottom: 0px
  .product-cart__item
    margin-bottom: 15px
    .info
      width: 90px
    .data
      padding-left: 4px

.product-cart__control
  margin: 0 -5px
  .control,.button--orange
    margin: 0 5px 5px 5px
    width: 100%
    max-width: 155px
    @media all and (max-width: 575.9px)
      //max-width: 100%
      margin-bottom: 15px
  .product-cart__item
    margin: 0 30px 0 5px
    @media all and (max-width: 575.9px)
      margin-bottom: 15px

.product-cart__item
  span
    font: 600 18px/25px 'Open Sans', sans-serif
  .info
    color: #FFFFFF
  .data
    color: #FFD991

.product-cart-price
  display: flex
  align-items: baseline
  margin-bottom: 28px
  .text
    color: #FFFFFF
    font: 400 18px/18px 'Open Sans', sans-serif
  .total
    display: flex
    margin-left: 20px
  .price
    color: #DC7000
    font: 700 34px/36px 'Open Sans', sans-serif
  .rub
    color: #C0BEA9
    margin-left: 5px
    font: 400 34px/36px 'PT Sans', sans-serif

.product-cart-type
  position: relative

  margin-bottom: 20px
  .card-type
    width: auto
    margin-bottom: 0
    padding-bottom: 10px
    margin-left: -5px
    margin-right: -5px
  .type
    flex: 1 1 auto
  &::before
    position: absolute
    background-position: center
    content: ''
    background-image: url("../img/product-cart-type-line.svg")
    width: 100%
    height: 1.5px
    background-size: cover
    bottom: 0px
    left: 0
    right: 0
  .card-type
    border-bottom: none

.section-recommend
  background: #000000
  padding: 50px 0 15px 0
  .sub-title
    margin-bottom: 40px

.recommend-list
  display: flex
  justify-content: space-around

.recommend-item
  flex: 1 1 33.3333%
  display: flex
  flex-direction: column
  justify-content: end
  align-items: center
  margin-bottom: 30px
  @media all and (max-width: 767.8px)
    flex: 1 1 100%
  &__image-block
    position: relative
    margin-bottom: 5px
  &__name
    color: #FFD991
    font: 400 34px/36px 'Pattaya', sans-serif

.section-product-delivery
  padding-bottom: 60px

.product-deliver
  padding: 20px $p60 30px $p60
  position: relative
  box-shadow: 0px 2px 25px rgba(0, 0, 0, 0.15)
  border-radius: 5px
  background-color: #26282D
  @media all and (max-width: 767.8px)
    padding-left: $p20
    padding-right: $p20
  &__image-1
    right: 0
    top: 10%
  .title-block
    padding: 0
    margin-bottom: 40px
  .title
    font: 600 36px/116% 'Open Sans', sans-serif
  p
    color: #fff
    font: 600 18px/25px 'Open Sans', sans-serif
    span
      color: #DC7000

.section-cart
  background: #161718
  padding-bottom: 60px

.empty-cart
  padding-bottom: 80px
  &__text
    margin-bottom: 70px
    color: #fff
    font: 400 24px/33px 'Open Sans', sans-serif
  &__image-block
    display: flex
    justify-content: center
  &__image
    margin: 0 auto
    max-width: 100%

.main-page
  background-color: #000

.section-about-us
  position: relative
  background-color: #181C21
  padding: 45px 0 0 0
  &__image
    top: -170px
    right: 0
  .title-block
    padding: 0
    padding-bottom: 44px

.section-hit
  position: relative
  padding-top: 30px
  padding-bottom: 50px
  background-color: #000
  &__image
    top: 150px
    left: 0
  .title-block
    margin-bottom: 30px

.about-us
  &__list
    position: relative
  &__item
    width: 100%
  &__text
    font: 400 15px/150% x 'Open Sans', sans-serif
    letter-spacing: -0.02em
    color: #FFFFFF

.about-us__item
  max-width: 530px
  width: 100%
  margin: 0 auto
  .stock
    width: 100%
  .stock__image-block
    padding: 0 0 40px 40px
    background-position: bottom
    background-size: contain
    @media all and (max-width: 767.9px)
      padding: 0 0 20px 20px
  //background-size: cover
  //background-position: center
  .stock__text
    margin-bottom: 15px
  .stock__text,
  .about-us__text
    word-break: break-word
    padding: 0 0 0 40px
    @media all and (max-width: 767.9px)
      padding: 0 0 20px 20px

.section-catalog-page
  background-color: #000
  padding-bottom: 90px

.catalog-view-types
  position: relative
  margin-bottom: 30px
  &::after
    content: ''
    width: 100%
    height: 1px
    position: absolute
    bottom: 0
    left: 0
    background-repeat: no-repeat
    background-size: initial
    background-image: url("../img/catalog-view-types-border.svg")
  @media all and (max-width: 767.9px)
    margin-bottom: 15px

.filter-mob-button
  margin-bottom: 15px

.catalog-view-type-sort,
.catalog-view-count
  margin-bottom: 10px

.catalog-view-type-sort
  margin-right: 15px
  display: inline-block
  span, &__item
    color: #fff
    margin-right: 8px
    position: relative
    font: 400 15px/26px 'Open Sans', sans-serif
  &__item::after
    content: ''
    width: 100%
    height: 2px
    border-bottom: 1px dashed #fff
    position: absolute
    bottom: -2px
    left: 0

.catalog-view-type-sort__item--active,
.catalog-view-type-sort__item:hover,
.catalog-view-type-sort__item:active,
.catalog-view-type-sort__item:focus
  color: #CE7115
  &::after
    border-color: #CE7115

.catalog-view-type-sort__item--active
  font-weight: 600

.catalog-view-count
  flex: 1 1 auto
  display: inline-block
  &__count
    color: #CE7115
    font: 400 15px/26px 'Open Sans', sans-serif
    span
      font-weight: 700
  span, &__item
    font-size: 13px

.stock-block
  display: inline-block
  position: relative
  height: 290px
  width: auto
  &__text
    border-radius: 0 5px 5px 0
    top: 10px
    left: 0
    background: linear-gradient(270deg, rgba(253, 252, 249, 0.9) 0%, rgba(253, 252, 249, 0.666) 107.32%, rgba(253, 252, 249, 0) 134.96%)
    padding: 10px 40px 10px 20px
    position: absolute
    color: #26282D
    font: 700 18px/100% 'Open Sans', sans-serif
  &:hover
    .stock-block__icon
      right: 15px
      path
        stroke: #CE7115
  &__icon
    position: absolute
    transition: 0.2s ease all
    top: 12px
    right: 20px
  img
    height: inherit

.cart-content
  position: relative
  margin-bottom: 60px
  border-radius: 5px
  overflow: hidden
  &__data
    background-color: #26282D
    padding: 35px 60px 40px 85px
    display: flex
    @media all and (max-width: 991.9px)
      padding: 20px 15px 20px 15px

.cart-count
  &__text,&__count
    margin-right: 5px
    color: #fff
    font: 600 21px/29px 'Open Sans', sans-serif
    @media all and (max-width: 991.9px)
      font-size: 15px
      line-height: 20px
  &__count
    color: #FFD991

.cart-content-bottom
  width: 100%
  background-color: #2C3D32
  padding: 20px 40px 6px 95px
  display: flex
  align-items: center
  @media all and (max-width: 991.9px)
    width: 100%
    padding: 10px
  .button
    white-space: nowrap
    margin: 0 5px
    max-width: 225px
    width: 100%
    font: 600 17px/23px 'Open Sans', sans-serif
    @media all and (max-width: 991.9px)
      margin: 0 0 10px 0
      max-width: 50%
      font-size: 15px
      line-height: 20px
    @media all and (max-width: 575.9px)
      max-width: 100%
  .cart-item-bottom__type
    @media all and (max-width: 991.9px)
      margin-right: 0
  .cart-item-bottom__buttons
    display: flex
    flex: 1
    flex-direction: row
    justify-content: flex-end
    @media all and (max-width: 991.9px)
      width: 100%
      margin-bottom: 0
      justify-content: center
      flex-direction: column
      align-items: center

.cart-content__list
  position: relative
  .cart-item:last-child::after
    display: none

.cart-item
  padding: 30px 0 29px 0
  background-color: #26282D
  position: relative
  @media all and (max-width: 991.9px)
    padding: 15px 0
  &::after
    content: ''
    position: absolute
    bottom: 0
    left: 0
    background-image: url("../img/cart-line.svg")
    width: 100%
    height: 2px
  &__header
    padding-left: 50px
    padding-right: 130px
    margin-bottom: 3px
    display: flex
    //align-items: center
    @media all and (max-width: 991.9px)
      padding-left: 35px
      padding-right: 10px
      margin-bottom: 25px
  &__image-block
    background-image: url("../img/cart-item-iamge-block-borber.svg")
    width: 140px
    flex: 0 0 140px
    height: 140px
    padding: 10px
    margin: 0 98px 0 0
    @media all and (max-width: 991.9px)
      margin: 0 15px 0 0
      width: 55px
      flex: 0 0 55px
      height: 55px
      padding: 3px
    img
      width: 100%
      height: 100%
      border-radius: 50%
      max-width: 100%
  &__info
    position: relative
    padding-top: 5px
  &__link
    color: #FFD991
    text-decoration-line: underline
    font: 400 34px/140% 'Pattaya', sans-serif
    @media all and (max-width: 991.9px)
      font: 400 15px/140% 'Pattaya', sans-serif
    &:hover, &:active, &:focus
      color: #FFD991
      text-decoration-line: underline
  .control
    margin: 0 10px 0px 10px
  &__icon-trash
    position: relative
    margin: 0 0 0 10px
  &__button
    min-height: inherit
    padding: 0
    border-radius: 0
    background-color: transparent
  &__delete
    border: none
    top: 5px
    left: 10px
    position: absolute
    background-color: transparent
    padding: 5px


.cart-item-bottom
  &__col
    display: flex
    //justify-content: space-between
    flex-wrap: wrap
    @media all and (max-width: 991.9px)
      padding: 0 25px
      justify-content: space-between

  .card__price
    margin-bottom: 0
  &__type
    border: none
    display: flex
    align-items: center

    margin-right: 59px
    margin-bottom: 10px
    @media all and (max-width: 991.9px)
      margin-right: 10px
    &:last-child
      margin-right: 0

  &__text
    color: #fff
    white-space: nowrap
    font: 400 18px/25px 'Open Sans', sans-serif
    @media all and (max-width: 991.9px)
      font-size: 15px
      line-height: 20px
      white-space: inherit
  .card__price .total
    @media all and (max-width: 991.9px)
      font-size: 21px



.section-cart-order
  background-color: #161718
  position: relative
  .title
    font-size: 34px
    line-height: 115%

.cart-order-content
  margin-top: 30px

.section-cart-order-user-data
  background-color: #161718
  .title
    color: #DC7000

.section-cart-order-delivery
  background-color: #161718
  position: relative

.section-cart-order-promo,
.section-cart-police
  background-color: #161718
  position: relative

.cart-input-list
  //width: 100%
  margin: 0 -9px
  display: flex
  flex-wrap: wrap

.cart-content-input-container
  //flex: 0 0 25%
  width: calc(25% - 18px)
  margin: 0 9px 10px 9px
  @media all and (max-width: 1199.8px)
    width: calc(50% - 18px)
  @media all and (max-width: 767.8px)
    width: 100%
  .select-filter-label
    width: 100%
  .form-input
    width: 100%
  .form-label
    white-space: nowrap
    margin-bottom: 10px

.agreement
  .checkbox__cr
    top: 3px
    position: relative
    margin-left: 5px

.cart-delivery
  &__title
    display: inline-block
    color: #fff
    margin-bottom: 20px
    font: 700 21px/29px 'Open Sans', sans-serif
  &__check
    margin-bottom: 15px
  &__comment
    display: flex
    margin-bottom: 20px
    @media all and (max-width: 991.9px)
      flex-wrap: wrap
  &__important
    margin-top: 35px
    color: #fff
    font: 400 13px/120% 'Open Sans', sans-serif
    font-style: italic
    @media all and (max-width: 991.9px)
      margin-top: 15px
  &__comment-block
    max-width: 605px
    width: 100%
    margin-right: 35px
    textarea
      height: 80px
    @media all and (max-width: 991.9px)
      margin-right: 0
  &__text
    color: #fff
    font: 400 15px/21px 'Open Sans', sans-serif

.cart-pay-list
  position: relative
  display: flex
  justify-content: space-around

.cart-recommend
  display: block
  padding-top: 90px
  padding-bottom: 45px
  .recommend-item__image-block
    margin-bottom: 10px

.cart-promo
  max-width: 625px
  width: 100%
  @media all and (max-width: 991.8px)
    max-width: 100%
  &__input-container
    width: 100%
    input
      @media all and (max-width: 575.8px)
        width: 100%

.cart-police
  padding: 0 60px
  color: #fff
  font: 400 15px/21px 'Open Sans', sans-serif
  margin-bottom: 20px
  a
    &:hover, &:active, &:focus
      color: #DC7000

.cart-order-page
  padding-bottom: 80px
  background-color: #161718
  .section-cart
    padding-bottom: 0
  .cart-content
    margin-bottom: 50px

.control
  border: 1px solid #B86411
  border-radius: 5px
  width: 100px
  height: 36px
  background: #26282d
  display: flex
  .button
    padding: 0 14px
    width: 32px
    background: transparent
    border-radius: 0
    color: #fff
  input
    background: transparent
    color: #FFFFFF
    text-align: center
    font: 600 17px/23px 'Open Sans', sans-serif

.checkbox-delivery
  display: inline-block
  margin-right: 20px
  margin-bottom: 15px
  .checkbox__cr
    margin-right: 10px
  .checkbox__text
    text-transform: uppercase
    font: 400 13px/26px 'Open Sans', sans-serif


.cart-order-item
  padding-left:  95px
  padding-right: 40px
  @media all and (max-width: 991.9px)
    padding: 15px 0
  .cart-item__header
    padding-left: 0
    padding-right: 0
    @media all and (max-width: 991.9px)
      padding-left: 15px
      padding-right: 15px
  .cart-item__info
    padding: 0
    margin-bottom: 20px
    @media all and (max-width: 991.9px)
      margin-bottom: 10px
