.pagination-area
  //flex-wrap: wrap
  display: flex
  align-items: center
  padding: 10px 0 0 0
  justify-content: space-between
  & > *
    flex: 1 1 33.333%
    @media all and (max-width: 991.8px)
      flex: 1 1 auto


.pagination-button
  max-width: 262px
  padding-left: 35px
  padding-right: 35px
  padding-top: 7px
  padding-bottom: 7px
  text-transform: uppercase
  font: 700 15px/20px 'Open Sans', sans-serif
  margin-bottom: 10px
  white-space: nowrap
  @media all and (max-width: 767.8px)
    margin-bottom: 30px
    //padding-left: 15px
    //padding-right: 15px

.pagination
  margin-bottom: 10px
  justify-content: flex-end
  a
    display: inline-block
    text-transform: uppercase
    font: 600 17px/26px 'Open Sans', sans-serif
    color: #fff
    .active, &:hover, &:active, &:focus
      color: #CE7115
  .num
    padding: 0 10px
  &__prev
    padding-right: 10px
  &__next
    padding-right: 10px
    transform: rotate(180deg)
    transform-origin: center center
