.ui-widget.ui-widget-content
  border: none
  height: 3px
  background: #CE7115
.ui-slider-horizontal .ui-slider-range
  background: #CE7115
.ui-slider-horizontal .ui-slider-handle
  width: 10px
  height: 10px
  background: #FFD991
  border-radius: 50%
  top: -3px
.ui-state-default, .ui-widget-content .ui-state-default,
.ui-widget-header .ui-state-default,
.ui-button, html .ui-button.ui-state-disabled:hover,
html .ui-button.ui-state-disabled:active
  border: none

.filter-price
  position: absolute
  bottom: -5px
  width: 100%
  left: 0
  transform: translateY(100%)
  display: flex
  justify-content: space-between
  span
    display: flex
    align-items: center
    color: #FFFFFF
    font: 600 15px/20px 'Open Sans', sans-serif
  input
    background: transparent
    color: #fff
    font: 600 15px/20px 'Open Sans', sans-serif
  .to input
    text-align: right

