.select2
  width: 100% !important

.select2-container
  z-index: 49 !important

.select-filter, .select-type-product
  &__drop
    border: 1px solid #F0EFEF
    background-color: #1E1E24
    border-radius: 0 0 5px 5px
    padding-right: 10px
    padding-left: 10px
    padding-bottom: 5px
    .select2-search
      display: none
    .select2-results__option
      word-break: break-word
      color: #FFD991
      padding: 10px 0
      font: 500 15px/17px 'Open Sans', sans-serif !important
      border-bottom: 1px dashed #F0EFEF
      &:hover
        color: #DC7000
      &:last-child
        border-bottom: none
    .select2-results__option--selected
      color: #DC7000
  &__selection
    height: inherit !important
    min-height: 32px !important
    display: flex !important
    align-items: center
    color: #fff
    background: #1E1E24
    border: 1px solid #F0EFEF
    border-radius: 5px
    .select2-selection__rendered
      padding-right: 20px !important
      padding-left: 10px !important
      color: #DC7000
      font: 500 15px/17px 'Open Sans', sans-serif !important
    .select2-selection__arrow
      position: absolute
      transition: 0.2s ease all
      right: 0
      top: 0
      width: 30px
      height: 100%
      background-image: url("../img/select-arrow.svg")
      background-position: center
      background-repeat: no-repeat

.select2-container--open
  .select-filter__selection,
  .select-type-product__selection
    border-bottom: none
    border-radius: 5px 5px 0 0
  .select2-selection__arrow
    transform: rotate(180deg)

.select-type-product
  &__drop
    box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.55)
    border: none
    padding-left: 20px
    padding-right: 20px
    border-radius: 10px !important
    .select2-results__option
      font: 500 17px/20px 'Open Sans', sans-serif !important
  &__selection
    border: none
    border-radius: 0
    text-align: center
    background: transparent
    .select2-selection__rendered
      color: #C0BEA9
      padding: 0 !important
      width: 100%
      padding-right: 27px !important
      font: 600 16px/16px 'Open Sans', sans-serif !important
    .select2-selection__arrow
      background-image: url("../img/select-arrow-2.svg")

.select-delivery
  &__drop
    border-color: #979797 !important
    background: #333439 !important
  &__selection
    min-height: 40px !important
    height: 40px !important
    border-color: #979797 !important
    background: #333439 !important

//стиль для select,если выпадаюший список открывается вверх
.select-filter + .select2.select2-container--above,
.select-delivery + .select2.select2-container--above
    [aria-expanded=true]
      border-top: none
      border-bottom: 1px solid #f0efef
      border-radius:  0 0 5px 5px
