.swiper-sert
  .swiper-slide
    text-align: center
    margin-bottom: 35px
    img
      max-width: 100%
  .swiper-scrollbar
    //bottom: -10px
    background-color: #C4C4C4
    max-width: 555px
    width: 100%
    height: 2px
    left: 50%!important
    border-radius: 0
    transform: translateX(-50%)
  .swiper-scrollbar-drag
    background-color: #CE7115
    &::after,
    &::before
      content: ''
      width: 100%
      height: 2px
      background-color: #CE7115
      position: absolute
      left: 0
      right: 0
    &::before
      border-radius:  0 0 10px 10px
      bottom: -2px
    &::after
      top: -2px
      border-radius: 10px 10px  0 0

.swiper-recommend
  .card
    margin-bottom: 50px
  .swiper-pagination
    bottom: 4px
    display: flex
    flex-wrap: wrap
    justify-content: center
    align-items: center
    .swiper-pagination-bullet
      transition: 0.2s ease all
      background: #707070
      width: 8px
      margin: 4px
      height: 8px
    .swiper-pagination-bullet-active
      background: #fff
      width: 11px
      height: 11px
