<footer class="section-footer">
  <img
      class="section-footer__image absolute-image"
      src="img/footer-tea.png"
      alt="">
  <div class="container-fluid footer">
    <div class="container footer-content">
      <div class="row">
        <div class="col-lg-3 col-md-4 col-sm-6 col-12">
          <div class="footer-block">
            <a href="/" class="footer__logo">
              <img src="img/logo.svg" alt="Logo">
            </a>
            <a href="#" class="footer__politics">
              Поитика конфиденциальности
            </a>
            <div class="footer__soc">
              <a href="#" class="footer__soc-link footer__soc-link--active">
                <img src="img/soc-1.svg" alt="">
              </a>
              <a href="#"  class="footer__soc-link">
                <img src="img/soc-2.svg" alt="">
              </a>
            </div>
          </div>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-6 col-12">
          <div class="footer-block footer-block-nav">
            <div class="footer-nav-title">
              Каталог
            </div>
            <ul class="footer-nav">
              <li class="footer-nav__item">
                <a href="#" class="footer-nav__link">
                  Кофе
                </a>
              </li>
              <li class="footer-nav__item">
                <a href="#" class="footer-nav__link">
                  Чай
                </a>
              </li>
              <li class="footer-nav__item">
                <a href="#" class="footer-nav__link">
                  Посуда
                </a>
              </li>
              <li class="footer-nav__item">
                <a href="#" class="footer-nav__link">
                  Сладости
                </a>
              </li>
              <li class="footer-nav__item">
                <a href="#" class="footer-nav__link">
                  Сиропы
                </a>
              </li>
              <li class="footer-nav__item">
                <a href="#" class="footer-nav__link">
                  Царские подарки
                </a>
              </li>
              <li class="footer-nav__item">
                <a href="#" class="footer-nav__link">
                  Прочее
                </a>
              </li>
            </ul>
          </div>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-6 col-12">
          <div class="footer-block footer-block-nav">
            <div class="footer-nav-title">
              О компании
            </div>
            <ul class="footer-nav">
              <li class="footer-nav__item">
                <a href="#" class="footer-nav__link">
                  О нас
                </a>
              </li>
              <li class="footer-nav__item">
                <a href="#" class="footer-nav__link">
                  Доставка и оплата
                </a>
              </li>
              <li class="footer-nav__item">
                <a href="#" class="footer-nav__link">
                  Бонгид
                </a>
              </li>
              <li class="footer-nav__item">
                <a href="#" class="footer-nav__link">
                  Новости
                </a>
              </li>
              <li class="footer-nav__item">
                <a href="#" class="footer-nav__link">
                  Акции
                </a>
              </li>
            </ul>
          </div>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-6 col-12">
          <div class="footer-block footer-block-nav">
            <div class="footer-nav-title">
             Контакты
            </div>
            <ul class="footer-nav">
              <li class="footer-nav__item">
                <a href="mailto:marketing@tzarpo.ru" class="footer-nav__link">
                  <img src="img/mail-white.svg" alt=""> marketing@tzarpo.ru
                </a>
              </li>
              <li class="footer-nav__item">
                <a href="tel:79250311337" class="footer-nav__link">
                  <img src="img/phone-white.svg" alt="">+7(925) 031-13-37
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="container footer-bottom">
      <p class="footer-bottom__text">
        © 2017-2022 Магазин кофе и чая. Все права защищены
      </p>
    </div>
  </div>
</footer>
