.section-footer
  z-index: 1
  position: relative
  &__image
    top: -75px
    left: 0

.footer
  padding: 60px 0 50px 0
  background: #000000
  &__logo
    display: inline-block
    margin-bottom: 35px
    width: 128px
    height: 150px
    img
      width: 100%
      height: auto
  &__politics
    color: #FFD990
    font: 400 12px/16px 'Open Sans', sans-serif
    margin-bottom: 35px
  &__soc
    position: relative
  &__soc-link
    margin: 0 10px 10px 0

.footer-block
  display: flex
  flex-direction: column
  margin-top: 5px
  @media all and (max-width: 575.8px)
    margin-top: 20px

.footer-block-nav
  margin-left: 48px
  @media all and (max-width: 991.8px)
    margin-left: 0

.footer-nav-title
  color: #B86411
  margin-bottom: 24px
  font: 600 24px/32px 'Open Sans', sans-serif

.footer-nav
  display: flex
  flex-direction: column
  &__item
    margin-bottom: 15px
  &__link
    transition: 0.2s ease color
    color: #fff
    letter-spacing: 0.5px
    font: 400 16px/20px 'Open Sans', sans-serif
    &:hover,&:active,&:focus, &--active
      color: #DD2A1C
    img
      margin-right: 10px

.footer-content
  margin-bottom: 18px

.footer-bottom
  border-top: 1px solid #8E7544
  padding: 25px 0 0px 0
  &__text
    color: #FFD990
    font: 400 13px/16px 'Open Sans', sans-serif
    text-align: center
