<div class="mobile-filter-area d-lg-none d-block">
 <div class="mobile-filter">
   <div class="mobile-filter__header">
     <div class="mobile-filter__close" id="button-filter-close">
       <img src="img/close-modal.svg" alt="Закрыть">
     </div>
   </div>
   <div class="filter-block">
     <div class="filter-block__type">
       <div class="filter">
              <span class="filter__name">
                Бренд
              </span>
         <label class="select-filter-label">
           <select class="select-filter">
             <option value="2">Царское
               подворьеподворьеподворьеподворье
             </option>
             <option value="1">Бонка</option>
             <option value="1">Бонка</option>
             <option value="1">Бонка</option>
           </select>
         </label>
       </div>
       <div class="filter">
              <span class="filter__name">
                Часть света
              </span>
         <label class="select-filter-label">
           <select class="select-filter">
             <option value="2">Царское
               подворье
             </option>
             <option value="1">Бонка</option>
             <option value="1">Бонка</option>
             <option value="1">Бонка</option>
           </select>
         </label>
       </div>
       <div class="filter">
              <span class="filter__name">
                Вид кофе
              </span>
         <label class="select-filter-label">
           <select class="select-filter">
             <option value="2">Царское
               подворье
             </option>
             <option value="1">Бонка</option>
             <option value="1">Бонка</option>
             <option value="1">Бонка</option>
           </select>
         </label>
       </div>
       <div class="filter">
              <span class="filter__name">
               Степень обжарки
              </span>
         <label class="select-filter-label">
           <select class="select-filter">
             <option value="2">Царское
               подворье
             </option>
             <option value="1">Бонка</option>
             <option value="1">Бонка</option>
             <option value="1">Бонка</option>
           </select>
         </label>
       </div>
       <div class="filter">
              <span class="filter__name">
             Кислинка
              </span>
         <label class="select-filter-label">
           <select class="select-filter">
             <option value="2">Царское
               подворье
             </option>
             <option value="1">Бонка</option>
             <option value="1">Бонка</option>
             <option value="1">Бонка</option>
           </select>
         </label>
       </div>
       <div class="filter">
              <span class="filter__name">
             Сладость
              </span>
         <label class="select-filter-label">
           <select class="select-filter">
             <option value="2">Царское
               подворье
             </option>
             <option value="1">Бонка</option>
             <option value="1">Бонка</option>
             <option value="1">Бонка</option>
           </select>
         </label>
       </div>
       <div class="filter">
              <span class="filter__name">
             Горчинка
              </span>
         <label class="select-filter-label">
           <select class="select-filter">
             <option value="2">Царское
               подворье
             </option>
             <option value="1">Бонка</option>
             <option value="1">Бонка</option>
             <option value="1">Бонка</option>
           </select>
         </label>
       </div>
       <div class="filter">
              <span class="filter__name">
             Крепость
              </span>
         <label class="select-filter-label">
           <select class="select-filter">
             <option value="2">Царское
               подворье
             </option>
             <option value="1">Бонка</option>
             <option value="1">Бонка</option>
             <option value="1">Бонка</option>
           </select>
         </label>
       </div>
       <div class="filter">
              <span class="filter__name">
                Цена, <span>₽</span>
              </span>
         <label class="select-filter-label">
           <div class="range-price">

           </div>
           <div class="filter-price result-range-price" >
                     <span class="from">
                       <input type="text" value=""></span>
             <span class="to">
                       <input type="text" value="">
                      </span>
             <span>
               руб.
             </span>
           </div>
         </label>
       </div>
     </div>
     <div class="filter-buttons">
       <a href="#" class="filter-buttons__reset" >
         Сбросить
       </a>
       <button class="button button--orange">
         Применить
       </button>
     </div>
<!--     <div class="filter-stock d-flex justify-content-center">-->
<!--       <a class="stock-block" href="#">-->
<!--         <div class="stock-block__text">-->
<!--           Акции-->
<!--           <img src="img/stock-arrow.svg" class="icon-svg stock-block__icon" alt="">-->
<!--         </div>-->

<!--         <img src="img/stock-block.png" alt="">-->
<!--       </a>-->
<!--     </div>-->
   </div>
 </div>
</div>
