.mobile-filter-area
  z-index: 49
  background: #000

.mobile-filter
  height: 100%
  padding: 15px
  overflow-x: auto
  .filter-block__type
    padding-bottom: 20px
  .filter
    margin-bottom: 20px
    .select-filter-label
      width: 55%
      flex: 0 0 55%
  &__header
    display: flex
    margin-bottom: 15px
    justify-content: flex-end
  &__close
    padding: 5px 10px
    display: flex
    justify-content: flex-end


