.section-personal-recommend
  position: relative
  z-index: 0
  background-color: #181C21
  padding-top: 50px
  padding-bottom: 65px
  .title-block
    padding: 0
    margin-bottom: 55px
  .title
    color: #fff
    font: 600 40px/115% 'Open Sans', sans-serif
    @media all and (max-width: 575.9px)
      font-size: 32px
