.section-header
  //overflow: hidden
  position: sticky
  top: 0
  z-index: 100
  &__image
    position: absolute
    right: -20px
    z-index: 0
    transform: translateY(-50%)
    top: 50%
    @media all and (max-width: 1200px)
      display: none

.header-contact-line
  position: relative
  z-index: 1
  padding: 0
  background-color: #2C2D33

.header-contact-block
  display: flex
  justify-content: flex-end
  align-items: center
  padding-top: 10px

.header-contact
  display: flex
  margin-left: 50px
  align-items: center
  margin-bottom: 10px
  @media all and (max-width: 767.9px)
    margin-left: 0
  &__icon
    display: flex
    align-items: center
    justify-content: center
    margin-right: 10px
  &__data
    font: 400 13px/18px 'Open Sans', sans-serif
    color: #fff
    &:hover, &:active, &:focus
      color: #fff
    @media all and (max-width: 575.9px)
      font-size: 12px

.header-navigation-area
  position: relative
  z-index: 1
  padding: 30px 0
  background-color: #101017
  @media all and (max-width: 1199.8px)
    padding: 15px 0
  @media all and (max-width: 575.8px)
    padding: 10px 0


.header-logo
  display: inline-block
  margin-right: 35px
  width: 70px
  @media all and (max-width: 575.9px)
    width: 40px
  img
    display: inline-block
    max-width: 100%
.header-container
  position: relative
  z-index: 1
  display: flex
  align-items: center
  justify-content: space-between

.header-navigation
  ul
    display: flex
    align-items: center
  &__item
    padding: 0 15px
    position: relative
  &__link
    white-space: nowrap
    color: #fff
    font: 400 17px/23px 'Open Sans', sans-serif
    &::after
      opacity: 0
      transition: 0.3s ease opacity
      content: ''
      position: absolute
      left: -15px
      top: calc(50% - 5px)
      background-color: #ffffff
      border-radius: 50%
      width: 11px
      height: 11px
    &:hover, &:active, &:focus
      color: #fff
      &::after
        opacity: 1

.header-navigation__item--active
  .header-navigation__link
    &::after
      opacity: 1

.header-user-area
  display: flex
  margin-left: 15px
  @media all and (max-width: 991.8px)
    margin-left: 0

.header-user-block
  display: flex
  margin-left: 20px
  &__icon
    position: relative
    margin-right: 6px
    display: flex
    align-items: center
    justify-content: center
  &__circle
    width: 5px
    height: 5px
    background-color: #fff
    border-radius: 50%
    position: absolute
    top: -5px
    right: -5px
    transform: translate(0,0)
  .header-navigation__link::after
    display: none

.header-search-area
  display: flex
  align-items: center
  margin: 0 10px 0 20px
  position: relative

.header-search
  position: relative
  display: flex
  align-items: center
  background: transparent
  border-radius: 0
  padding: 5px
  border: none
  z-index: 5

.header-search-line
  right: 0
  border-radius: 5px
  border: 0px solid #979797
  top: 50%
  transform: translateY(-50%)
  z-index: 4
  height: 42px
  position: absolute
  width: 0
  background: #333439
  transition: 0.2s ease all

  input
    padding: 5px 10px
    color: #fff
    font: 500 17px/23px 'Open Sans', sans-serif
    height: 100%
    width: 90%
    background: transparent
  &__content
    position: relative
    height: 100%
  &--open
    right: -10px
    border-width: 1px
    width: 47vw
    @media all and (max-width: 991.8px)
      width: 60vw

.header-search-drop
  position: absolute
  bottom: -10px
  transform: translateY(100%)
  left: 0
  width: 100%
  &__content
    overflow: hidden
    padding: 5px 10px
    background: #FFFFFF
    box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.55)
    border-radius: 5px
  &__link
    font: 500 17px/187% 'Open Sans', sans-serif
    &:hover
      color: #CA6400
      text-decoration-line: underline

.header-button-enter
  min-height: 40px
  font: 600 17px/23px 'Open Sans', sans-serif
  max-width: 130px
  width: 100%
  margin-left: 15px


.mobile-menu-button
  position: relative
  flex: 0 0 26px
  width: 26px
  height: 22px
  background-color: #101017
  border-radius: 3px
  border: 1px solid #5D5E66
  display: flex
  align-items: center
  justify-content: center
  flex-direction: column
  margin-right: 20px
  &--active
    input
      background-color: #CE7115
  input
    display: block
    width: 100%
    height: 100%
    position: absolute
    top: 0
    left: 0
    cursor: pointer
    opacity: 0
    /* hide this */
    z-index: 2
    /* and place it over the hamburger */
    -webkit-touch-callout: none
  span
    transform-origin: 8.5px 0.5px
    display: block
    width: 16px
    height: 1px
    margin-bottom: 4px
    position: relative
    background: #fff
    z-index: 1
    //transform-origin: 4px 0px
    transition: transform 0.5s cubic-bezier(0.1, 0.2, 0.05, 1.0), background 0.5s cubic-bezier(0.1, 0.2, 0.05, 1.0), opacity 0.55s ease
  span
    &:first-child
    //transform-origin: 0% 0%
    &:nth-last-child(2)
    //transform-origin: 0% 100%
    &:last-child
      margin-bottom: 0
  &--note
    span,input:checked~span
      background: #4C3849!important
  input
    &:checked
      & ~ span
        margin: 0
        //margin-left: 12.5px
        //width: 10px
        opacity: 1
        transform: rotate(45deg) translate(0)
        background: #fff
        &:nth-last-child(3)
          opacity: 0
          transform: rotate(0deg) scale(0.2, 0.2)
        &:nth-last-child(2)
          transform: rotate(-45deg) translate(0)

.mobile-menu-button--active
  background-color:  #CE7115
  border-color: #CE7115

