<section class="section-header">

  <div class="container-fluid header-contact-line">
    <div class="container">
      <div class="header-contact-block flex-wrap justify-content-md-end justify-content-between">
        <div class="header-contact">
          <div class="header-contact__icon">
            <img src="img/mail.svg" alt="Mail">
          </div>
          <a class="header-contact__data" href="mailto:marketing@tzarpo.ru">
            marketing@tzarpo.ru
          </a>
        </div>
        <div class="header-contact">
          <div class="header-contact__icon">
            <img src="img/phone.svg" alt="Phone">
          </div>
          <a class="header-contact__data" href="tel:79250311337">
            +7(925) 031-13-37
          </a>
        </div>
      </div>
    </div>
  </div>
  <div class="container-fluid header-navigation-area">
    <img src="img/leaf.png" class="section-header__image" alt="">
    <div class="container ">
      <div class="header-container">

        <div class="d-flex align-items-center">
          <label class="mobile-menu-button d-xl-none d-flex" id="sidebarCollapse">
            <input type="checkbox" id="menu-button">
            <span></span>
            <span></span>
            <span></span>
          </label>

          <a href="/" class="header-logo">
            <img src="img/logo.svg" alt="Bonka">
          </a>
        </div>

        <nav class="header-navigation d-xl-block d-none">
          <ul>
            <li class="header-navigation__item header-navigation__item--active">
              <a href="/" class="header-navigation__link">
                О нас
              </a>
            </li>
            <li class="header-navigation__item ">
              <a href="/" class="header-navigation__link">
                Доставка и оплата
              </a>
            </li>
            <li class="header-navigation__item ">
              <a href="/" class="header-navigation__link">
                Бонгид
              </a>
            </li>
            <li class="header-navigation__item ">
              <a href="/" class="header-navigation__link">
                Новости
              </a>
            </li>
            <li class="header-navigation__item ">
              <a href="/" class="header-navigation__link">
                Акции
              </a>
            </li>
            <li class="header-navigation__item ">
              <a href="/" class="header-navigation__link">
                Контакты
              </a>
            </li>
          </ul>
        </nav>

        <div class="header-user-area">
          <a href="#" class="header-user-block">
            <div class="header-user-block__icon">
              <img src="img/profile.svg" alt="Профиль">
            </div>
            <span class="header-navigation__link d-xl-block d-none">
              Профиль
            </span>
          </a>
          <a href="#" class="header-user-block">
            <div class="header-user-block__icon">
              <span class="header-user-block__circle d-xl-none d-block"></span>
              <img src="img/cart.svg" alt="Корзина">
            </div>
            <div class="header-navigation__link d-xl-block d-none">
              0
            </div>
          </a>
          <div class="header-search-area">
            <div class="header-search-line show">
              <div class="header-search-line__content">
                <input type="text">
                <div class="header-search-drop d-none">
                  <div class="header-search-drop__content">
                    <ul>
                      <li>
                        <a href="" class="header-search-drop__link">Плантационные сорта</a>
                      </li>
                      <li>
                        <a href="" class="header-search-drop__link">Купажи</a>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>

            </div>
            <button class="button header-search" id="search">
              <img src="img/search.svg" alt="Поиск">
            </button>
          </div>
        </div>


        <a href="/" class="button button--orange header-button-enter  d-xl-flex d-none">
          Войти
        </a>
      </div>

    </div>
  </div>
</section>
