.section-menu
  position: relative
  z-index: 5
  &__image
    position: absolute
    right: 0
    bottom: -30px

.section-menu-area
  padding: 40px 0 0 0
  background-color: #26282D

.menu
  position: relative
  z-index: 1
  display: flex
  justify-content: space-between
  margin: 70px -10px 0 -10px
  &__item
    padding: 0 10px 80px 10px
    position: relative
  &__link
    display: flex
    flex-direction: column
    align-items: center
    position: relative
  &__icon
    margin-bottom: 20px
    width: 100px
    height: 100px
    @media all and (max-width: 1199.9px)
      width: 80px
      height: 80px
    img
      max-width: 100%
  &__text
    position: absolute
    white-space: nowrap
    bottom: -30px
    transition: 0.2s ease color
    color: #fff
    font: 400 21px/187% 'Open Sans', sans-serif
    @media all and (max-width: 1199.9px)
      font-size: 18px


.menu-line
  display: block
  background-image: url("../../../img/line-menu.svg")
  background-position: center
  background-repeat: no-repeat
  background-size: auto
  width: 100%
  height: 1.5px
  margin: 0 auto

.menu-drop-area
  transition: 0.2s ease-in all
  opacity: 0
  pointer-events: none
  position: absolute
  bottom: 0
  left: 0
  transform: translateY(82%)

.menu-drop
  padding: 10px 0
  display: flex
  background: #313338
  box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.55)
  border-radius: 10px
  &__row
    display: flex
    margin: 0
  &__col
    padding: 0 20px
    flex: 1 1 auto
    display: flex
    flex-direction: column
  &__link
    white-space: nowrap
    color: #FFD991
    transition: 0.2s ease color
    font: 500 17px/187% 'Open Sans', sans-serif
    &:hover, &:active, &:focus
      color: #DC7000

.menu__item:hover
  .menu__text
    color: #DD2A1C
  .menu-drop-area
    opacity: 1
    pointer-events: auto
    transform: translateY(89%)
