<section class="section-menu d-xl-block d-none">
  <img class="section-menu__image" src="img/menu-tea.png" alt="">
  <div class="container-fluid section-menu-area">
    <div class="container">
      <span class="menu-line"></span>
      <ul class="menu">
        <li class="menu__item">
          <a href="#" class="menu__link">
            <div class="menu__icon">
              <img src="img/menu-icon-1.png" alt="Кофе">
            </div>
            <span class="menu__text">
              Кофе
            </span>
          </a>
          <div class="menu-drop-area">
            <div class="menu-drop">
              <div class="menu-drop__row">
                <div class="menu-drop__col">
                  <a href="/" class="menu-drop__link">
                    Плантационные сорта
                  </a>
                  <a href="/" class="menu-drop__link">
                    Купажи
                  </a>
                  <a href="/" class="menu-drop__link">
                    Десертные сорта
                  </a>
                  <a href="/" class="menu-drop__link">
                    Кофе в капсулах
                  </a>
                </div>
                <div class="menu-drop__col">
                  <a href="/" class="menu-drop__link">
                    Микролоты
                  </a>
                  <a href="/" class="menu-drop__link">
                    Фасованный кофе
                  </a>
                  <a href="/" class="menu-drop__link">
                    Элитные сорта
                  </a>
                </div>
              </div>
            </div>
          </div>
        </li>
        <li class="menu__item">
          <a href="#" class="menu__link">
            <div class="menu__icon">
              <img src="img/menu-icon-2.png" alt="Чай">
            </div>
            <span class="menu__text">
              Чай Tea
            </span>
          </a>
        </li>
        <li class="menu__item">
          <a href="#" class="menu__link">
            <div class="menu__icon">
              <img src="img/menu-icon-3.png" alt="Посуда ">
            </div>
            <span class="menu__text">
              Посуда
            </span>
          </a>
        </li>
        <li class="menu__item">
          <a href="#" class="menu__link">
            <div class="menu__icon">
              <img src="img/menu-icon-4.png" alt="Сладости ">
            </div>
            <span class="menu__text">
              Сладости
            </span>
          </a>
        </li>
        <li class="menu__item">
          <a href="#" class="menu__link">
            <div class="menu__icon">
              <img src="img/menu-icon-5.png" alt="Сиропы ">
            </div>
            <span class="menu__text">
              Сиропы
            </span>
          </a>
        </li>
        <li class="menu__item">
          <a href="#" class="menu__link">
            <div class="menu__icon">
              <img src="img/menu-icon-6.png" alt="Царские подарки">
            </div>
            <span class="menu__text">
              Царские подарки
            </span>
          </a>
        </li>
        <li class="menu__item">
          <a href="#" class="menu__link">
            <div class="menu__icon">
              <img src="img/menu-icon-7.png" alt="Прочее">
            </div>
            <span class="menu__text">
             Прочее
            </span>
          </a>
        </li>
      </ul>
    </div>
  </div>

</section>
