$md: 15px
.section-form-questions
  position: relative
  z-index: 0

.form-questions-area
  padding: 30px 0 25px 0
  background: #26282D
  @media all and (max-width: 1439.8px)
    padding-bottom: 70px

.form-questions
  &__title
    color: #FFFFFF
    font: 400 30px/41px 'Open Sans', sans-serif
    margin-bottom: $md
  &__text
    color: #FFFFFF
    font: 400 17px/23px 'Open Sans', sans-serif
    margin-bottom: $md

.form-main-questions
  height: 48px
  max-width: 385px
  width: 100%
  margin: 0 0 0 auto
  background: #FFFFFF
  border-radius: 8px
  padding: 5px 5px 5px 13px
  display: flex
  align-items: center
  justify-content: space-between
  margin-bottom: $md
  @media all and (max-width: 767.8px)
    max-width: 100%
  input
    background-color: transparent
    margin-right: 20px
  .button--orange
    height: 100%
    padding-right: 15px
    padding-left: 15px
