<section class="section-form-questions">
  <div class="container-fluid form-questions-area">
    <div class="container">
      <div class="row">
        <div class="col-lg-6 col-md-6 col-12">
          <p class="form-questions__title">
            У вас остались вопросы?
          </p>
          <p class="form-questions__text">
            Оставьте ваш адрес, и наш менеджер перезвонит вам в течение
            нескольких минут.
          </p>
        </div>
        <div class="col-lg-6 col-md-6 col-12 d-flex align-items-center">
          <form class="form-main-questions">
            <input type="text" placeholder="Ваш email">
            <button class="button button--orange">
              Отправить
            </button>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>
