<div class="pagination-area flex-md-row flex-column">
  <span class="d-xl-block d-none"></span>
  <div class="d-flex justify-content-xl-center justify-content-lg-start">
    <a href="" class="button button--gray pagination-button">
      следующая страница
    </a>
  </div>
  <div class="">
    <div class="pagination">
      <a href="" class="active">
        <img class="pagination__prev" src="img/prev-arr.svg" alt="Назад">
      </a>
      <a href="#" class="num">1</a>
      <a href="#" class="num">2</a>
      <a href="#" class="num">10</a>
      <a href="#" class="num">100</a>
      <a href="#" >
        <img class="pagination__next" src="img/prev-arr.svg" alt="Вперед">
      </a>
    </div>
  </div>

</div>
