<% var data = {
title: "Карточки товаров"
}; %>
<%= _.template(require('./../includes/default/head-start.html').default)(data) %>

<%= _.template(require('./../includes/header/header.html').default)(data) %>

<%= _.template(require('./../includes/mobile-filter/mobile-filter.html').default)(data) %>

<%= _.template(require('./../includes/mobile-menu/mobile-menu.html').default)(data) %>
<section class="section-page-title section-page-title--coffe">
  <div class="container section-page-title__container">
    <h1 class="section-page-title__title">
      Кофе
    </h1>
  </div>
</section>

<!--<%= _.template(require('./../includes/menu/menu.html').default)(data) %>-->

<section class="section-catalog-page">
  <div class="container-fluid p-0">
    <div class="container">
      <%= _.template(require('./../includes/breadcrumb/breadcrumb.html').default)(data) %>

        <div class="catalog-view-types d-flex justify-content-between align-items-center flex-wrap">
          <div class="catalog-view-type-sort">
            <span>Сортировать по:</span>
            <a href="#" class="catalog-view-type-sort__item catalog-view-type-sort__item--active">Скидке</a>
            <a href="#" class="catalog-view-type-sort__item">Обновлению</a>
            <a href="#" class="catalog-view-type-sort__item">Наличию</a>
          </div>
          <div class="catalog-view-count  d-flex justify-content-between flex-wrap">
            <div class="catalog-view-count__count"><span>225</span>&nbsp;товаров</div>
            <div class="catalog-view-type-sort mb-0 mr-0">
              <span>Показывать по:</span>
              <a href="#" class="catalog-view-type-sort__item catalog-view-type-sort__item--active">10</a>
              <a href="#" class="catalog-view-type-sort__item">20</a>
              <a href="#" class="catalog-view-type-sort__item">50</a>
            </div>
          </div>
        </div>


      <div class="d-lg-none d-flex filter-mob-button">
        <button class="button button--orange" id="button-filter">
          Фильтр
        </button>
      </div>

      <div class="row">

        <div class="col-xl-3 col-lg-4 col-md-5 d-lg-block d-none">

          <div class="filter-block">
            <div class="filter-block__type">
              <div class="filter">
              <span class="filter__name">
                Бренд
              </span>
                <label class="select-filter-label">
                  <select class="select-filter-image">
                    <option value="s-1.svg">
                    </option>
                    <option value="s-2.svg">
                    </option>
                    <option value="s-3.svg">
                    </option>
                    <option value="s-4.svg">
                    </option>
                    <option value="s-5.svg">
                    </option>
                  </select>
                </label>
              </div>
              <div class="filter">
              <span class="filter__name">
                Часть света
              </span>
                <label class="select-filter-label">
                  <select class="select-filter">
                    <option value="2">Царское
                      подворье
                    </option>
                    <option value="1">Бонка</option>
                    <option value="1">Бонка</option>
                    <option value="1">Бонка</option>
                  </select>
                </label>
              </div>
              <div class="filter">
              <span class="filter__name">
                Вид кофе
              </span>
                <label class="select-filter-label">
                  <select class="select-filter">
                    <option value="2">Царское
                      подворье
                    </option>
                    <option value="1">Бонка</option>
                    <option value="1">Бонка</option>
                    <option value="1">Бонка</option>
                  </select>
                </label>
              </div>
              <div class="filter">
              <span class="filter__name">
               Степень обжарки
              </span>
                <label class="select-filter-label">
                  <select class="select-filter">
                    <option value="2">Царское
                      подворье
                    </option>
                    <option value="1">Бонка</option>
                    <option value="1">Бонка</option>
                    <option value="1">Бонка</option>
                  </select>
                </label>
              </div>
              <div class="filter">
              <span class="filter__name">
             Кислинка
              </span>
                <label class="select-filter-label">
                  <select class="select-filter">
                    <option value="2">Царское
                      подворье
                    </option>
                    <option value="1">Бонка</option>
                    <option value="1">Бонка</option>
                    <option value="1">Бонка</option>
                  </select>
                </label>
              </div>
              <div class="filter">
              <span class="filter__name">
             Сладость
              </span>
                <label class="select-filter-label">
                  <select class="select-filter">
                    <option value="2">Царское
                      подворье
                    </option>
                    <option value="1">Бонка</option>
                    <option value="1">Бонка</option>
                    <option value="1">Бонка</option>
                  </select>
                </label>
              </div>
              <div class="filter">
              <span class="filter__name">
             Горчинка
              </span>
                <label class="select-filter-label">
                  <select class="select-filter">
                    <option value="2">Царское
                      подворье
                    </option>
                    <option value="1">Бонка</option>
                    <option value="1">Бонка</option>
                    <option value="1">Бонка</option>
                  </select>
                </label>
              </div>
              <div class="filter">
              <span class="filter__name">
             Крепость
              </span>
                <label class="select-filter-label">
                  <select class="select-filter">
                    <option value="2">Царское
                      подворье
                    </option>
                    <option value="1">Бонка</option>
                    <option value="1">Бонка</option>
                    <option value="1">Бонка</option>
                  </select>
                </label>
              </div>
              <div class="filter">
              <span class="filter__name">
                Цена, <span>₽</span>
              </span>
                <label class="select-filter-label">
                  <div class="range-price">

                  </div>
                  <div class="filter-price result-range-price" >
                     <span class="from">
                       <input type="text" value=""></span>
                      <span class="to">
                       <input type="text" value="">
                      </span>
                      <span>
                          руб.
                      </span>
                  </div>
                </label>
              </div>

            </div>
            <div class="filter-buttons">
              <a href="#" class="filter-buttons__reset" >
                Сбросить
              </a>
              <button class="button button--orange">
                Применить
              </button>
            </div>
            <div class="filter-stock d-flex justify-content-center">
              <a class="stock-block" href="#">
                <div class="stock-block__text">
                  Акции
                  <img src="img/stock-arrow.svg" class="icon-svg stock-block__icon" alt="">
                </div>

                <img src="img/stock-block.png" alt="">
              </a>
            </div>
          </div>

        </div>
        <div class="col-xl-9 col-lg-8 col-12">
          <div class="row">
            <div class="col-xl-4 col-lg-6 col-md-6 col-12">
              <%= _.template(require('./../includes/card/card.html').default)(data) %>
            </div>
            <div class="col-xl-4 col-lg-6 col-md-6 col-12">
              <%= _.template(require('./../includes/card/card.html').default)(data) %>
            </div>

            <div class="col-xl-4 col-lg-6 col-md-6 col-12">
              <%= _.template(require('./../includes/card/card.html').default)(data) %>
            </div>
            <div class="col-xl-4 col-lg-6 col-md-6 col-12">
              <%= _.template(require('./../includes/card/card.html').default)(data) %>
            </div>
            <div class="col-xl-4 col-lg-6 col-md-6 col-12">
              <%= _.template(require('./../includes/card/card.html').default)(data) %>
            </div>
          </div>
          <%= _.template(require('./../includes/pagination/pagination.html').default)(data) %>
        </div>

      </div>
    </div>
  </div>
</section>
<%= _.template(require('./../includes/recomend/recomend.html').default)(data) %>

<%= _.template(require('./../includes/form-questions/form-questions.html').default)(data) %>
<%= _.template(require('./../includes/footer/footer.html').default)(data) %>

<%= _.template(require('./../includes/default/head-end.html').default)(data) %>
