<% var data = {
title: "Корзина пустая"
}; %>
<%= _.template(require('./../includes/default/head-start.html').default)(data) %>

<%= _.template(require('./../includes/header/header.html').default)(data) %>
<%= _.template(require('./../includes/mobile-menu/mobile-menu.html').default)(data) %>
<section class="section-page-title section-page-title--tea">
  <div class="container section-page-title__container">
    <h1 class="section-page-title__title">
      Корзина
    </h1>
  </div>
</section>

<!--<%= _.template(require('./../includes/menu/menu.html').default)(data) %>-->

<section class="section-cart">
  <div class="container-fluid p-0">
    <div class="container">
      <%= _.template(require('./../includes/breadcrumb/breadcrumb.html').default)(data) %>
      <div class="row">
        <div class="col-12">
          <div class="empty-cart">
            <p class="empty-cart__text">
              В корзине пока ничего нет. Найдите подходящие товары в нашем каталоге.
            </p>
            <div class="empty-cart__image-block">
              <img src="img/empty-cart.png" class="empty-cart__image" alt="">
            </div>

          </div>
        </div>
      </div>

    </div>
  </div>
</section>


<%= _.template(require('./../includes/form-questions/form-questions.html').default)(data) %>
<%= _.template(require('./../includes/footer/footer.html').default)(data) %>

<%= _.template(require('./../includes/default/head-end.html').default)(data) %>
