<% var data = {
title: "Доставка и оплата"
}; %>
<%= _.template(require('./../includes/default/head-start.html').default)(data) %>

<%= _.template(require('./../includes/header/header.html').default)(data) %>
<%= _.template(require('./../includes/mobile-menu/mobile-menu.html').default)(data) %>
<%= _.template(require('./../includes/menu/menu.html').default)(data) %>


<section class="section-delivery">
  <img src="img/delivery-image-1.png" class="absolute-image section-delivery__image-1" alt="">
  <img src="img/delivery-image-2.png" class="absolute-image section-delivery__image-2" alt="">
  <div class="container-fluid p-0">
    <div class="container">
      <%= _.template(require('./../includes/breadcrumb/breadcrumb.html').default)(data) %>
      <div class="title-block">
        <h1 class="title">
          Доставка и оплата
        </h1>
      </div>
      <div class="row">
<!--        <img src="img/delivery-1.png" class="delivery__image-bg absolute-image" alt="">-->
        <div class="col-lg-6">
          <div class="delivery">
            <h2 class="delivery__title">
              Доставка
            </h2>
            <p class="delivery__sub-title">
              Способы доставки
            </p>
            <p class="delivery__text">
              Приобретенный товар можно забрать самостоятельно
              из пунктов выдачи в г. <span>Москва </span>(ул.Уржумская, д.4
              и ул.Петрозаводская, 24Б ТЦ Ховрино) или следующими
              способами:
            </p>
            <ul class="delivery__list">
              <li class="d-flex align-items-center">
                <img src="img/delivery-icon.svg" alt="">
                <p class="delivery__text m-0">Курьером по Москве</p>
              </li>
              <li class="d-flex align-items-center">
                <img src="img/delivery-icon.svg" alt="">
                <p class="delivery__text m-0">Почтой России</p>
              </li>
              <li class="d-flex align-items-center">
                <img src="img/delivery-icon.svg" alt="">
                <p class="delivery__text m-0">Курьерской службой СДЭК</p>
              </li>
            </ul>
            <p class="delivery__sub-title">
              Стоимость доставки по Москве
            </p>
            <p class="delivery__text">
              Стоимость доставки по Москве - <span>250</span> рублей.
              При заказе от <span>2900</span> рублей доставка по Москве бесплатная.
              Стоимость доставки в другие регионы рассчитывается
              в корзине автоматически.
            </p>
            <br>
            <p class="delivery__sub-title">
              Сроки доставки
            </p>
            <p class="delivery__text">
              Мы обжариваем кофе только после получения вашего заказа.
              Потому сроки доставки немного выше, чем в магазинах, торгующих
              готовой продукцией.
            </p>
            <ul class="delivery__list">
              <li class="d-flex align-items-center">
                <img src="img/delivery-icon.svg" alt="">
                <p class="delivery__text m-0">Заказы, оформленные с <span>понедельника по четверг до 16:00</span>,
                  доставляются на следующий день.</p>
              </li>
              <li class="d-flex align-items-center">
                <img src="img/delivery-icon.svg" alt="">
                <p class="delivery__text m-0">Заказы, оформленные с <span>понедельника по четверг после 16:00</span>,
                  будут доставлены через день. </p>
              </li>
              <li class="d-flex align-items-center">
                <img src="img/delivery-icon.svg" alt="">
                <p class="delivery__text m-0">Заказы, оформленные в <span>пятницу, субботу или в воскресенье</span>,
                  вы получите в понедельник.</p>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="row">
<!--        <img src="img/delivery-2.png" class="delivery__image-bg-last absolute-image" alt="">-->
        <div class="offset-lg-6 offset-0 col-lg-6">
          <div class="delivery">
            <h2 class="delivery__title">
              Оплата
            </h2>
            <p class="delivery__sub-title">
              Условия оплаты
            </p>
            <ul class="delivery__list">
              <li class="d-flex align-items-center">
                <img src="img/delivery-icon.svg" alt="">
                <p class="delivery__text m-0">Наличный расчёт</p>
              </li>
            </ul>
            <p class="delivery__text">
              Оплата наличными возможна при курьерской доставке.
              При получении товара обязательно проверьте
              комплектацию заказа, наличие гарантийного талона и чека.
            </p>

            <p class="delivery__sub-title">
              Стоимость доставки по Москве
            </p>
            <p class="delivery__text">
              Стоимость доставки по Москве - <span>250</span> рублей.
              При заказе от <span>2900</span> рублей доставка по Москве бесплатная.
              Стоимость доставки в другие регионы рассчитывается
              в корзине автоматически.
            </p>
            <br>
            <p class="delivery__sub-title">
              Условия оплаты
            </p>
            <p class="delivery__text">
              Согласно п.25 Закона «О защите прав потребителей» запрещает
              обмен и возврат продуктовых товаров надлежащего качества.
              Однако, наш магазин готов индивидуально обсудить каждый
              случай. Возврат переведённых средств, производится на ваш
              банковский счёт в течение 5-30 рабочих дней (срок зависит
              от банка, который выдал вашу банковскую карту).
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>


<%= _.template(require('./../includes/form-questions/form-questions.html').default)(data) %>
<%= _.template(require('./../includes/footer/footer.html').default)(data) %>
<%= _.template(require('./../includes/default/head-end.html').default)(data) %>
