<% var data = {
title: "Чай"
}; %>
<%= _.template(require('./../includes/default/head-start.html').default)(data) %>

<%= _.template(require('./../includes/header/header.html').default)(data) %>
<%= _.template(require('./../includes/mobile-menu/mobile-menu.html').default)(data) %>

<section class="section-main-banner">

  <div class="swiper swiper-banner">
    <div class="swiper-wrapper">
      <div class="swiper-slide swiper-banner__image" style="background-image: url('img/banner-1.jpg')">
        <div class="container-fluid p-0 h-100">
          <div class="container h-100">
            <div class="banner">
              <h1 class="banner__title">
                Премиальные
                кофейные
                <br class="d-lg-block d-none">новинки
              </h1>
              <p class="banner__sub-title">
                Качество кофе меняет качество жизни.
                Всегда выбирай лучшее.
              </p>
              <button class="button button--orange banner__button">
                  <span>
                    Заказать
                     <img src="img/button-arrow.svg" alt="Вперед">
                  </span>

              </button>
            </div>
          </div>
        </div>
      </div>
      <div class="swiper-slide swiper-banner__image" style="background-image: url('img/banner-2.jpg')">
        <div class="container-fluid p-0">
          <div class="container">
            <div class="banner">
              <h1 class="banner__title">
                Чайные новинки
                в нашем интернет-магазине
              </h1>
              <p class="banner__sub-title">
                Чаепитие — это не процесс, а состояние души. В каждую чашку вложи свою сказку!
              </p>
              <button class="button button--orange banner__button">
                  <span>
                    Заказать
                     <img src="img/button-arrow.svg" alt="Вперед">
                  </span>

              </button>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</section>

<%= _.template(require('./../includes/menu/menu.html').default)(data) %>


<section class="section-hit">
  <img src="img/hit.png" class="absolute-image section-hit__image"  alt="">
  <div class="container-fluid p-0">
    <div class="container">
      <div class="title-block">
        <h2 class="title">
          Хиты продаж
        </h2>
      </div>
      <div class="row">
        <div class="col-xl-4 col-lg-6 col-md-6 col-12">
          <%= _.template(require('./../includes/card/card.html').default)(data) %>
        </div>
        <div class="col-xl-4 col-lg-6 col-md-6 col-12">
          <%= _.template(require('./../includes/card/card.html').default)(data) %>
        </div>

        <div class="col-xl-4 col-lg-6 col-md-6 col-12">
          <%= _.template(require('./../includes/card/card.html').default)(data) %>
        </div>
        <div class="col-xl-4 col-lg-6 col-md-6 col-12">
          <%= _.template(require('./../includes/card/card.html').default)(data) %>
        </div>
        <div class="col-xl-4 col-lg-6 col-md-6 col-12">
          <%= _.template(require('./../includes/card/card.html').default)(data) %>
        </div>
      </div>
    </div>
  </div>
</section>


<section class="section-about-us">
  <img src="img/section-about-us-image.png" class="absolute-image section-about-us__image"  alt="">
  <div class="container-fluid p-0">
    <div class="container about-us">

      <div class="title-block">
        <h2 class="title">
          О нас
        </h2>
      </div>
      <div class="row about-us__list">
        <div class="col-lg-6 col-12">
          <div class="about-us__item">
            <a href="#" class="stock">
              <div class="stock__image-block">
                <iframe style="max-width: 100%" width="100%" height="270" src="https://www.youtube.com/embed/7ft9hmTDBw0"
                        title="YouTube video player" frameborder="0"
                        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                        allowfullscreen></iframe>
              </div>
              <p class="stock__text">
                <span>Видеоэкскурсия в “Царское подворье”</span>
              </p>
              <p class="about-us__text">
                Видеоэкскурсия.
              </p>
            </a>
          </div>
        </div>
        <div class="col-lg-6 col-12">
          <div class="about-us__item">
            <a href="#" class="stock">
              <div class="stock__image-block">
                <iframe style="max-width: 100%" width="100%" height="270" src="https://www.youtube.com/embed/YLVJ9KwKJqA"
                        title="YouTube video player" frameborder="0"
                        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                        allowfullscreen></iframe>
              </div>
              <p class="stock__text">
                <span>Видеоотчет об участии в выставке</span>
              </p>
              <p class="about-us__text">
                Видеоотчет об участии в выставке PIR EXPO 2019
              </p>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<%= _.template(require('./../includes/form-questions/form-questions.html').default)(data) %>

<%= _.template(require('./../includes/footer/footer.html').default)(data) %>

<%= _.template(require('./../includes/default/head-end.html').default)(data) %>
