<% var data = {
title: "Контакты"
}; %>
<%= _.template(require('./../includes/default/head-start.html').default)(data) %>
<script src="https://api-maps.yandex.ru/2.1/?lang=ru_RU" type="text/javascript"></script>
<%= _.template(require('./../includes/header/header.html').default)(data) %>
<%= _.template(require('./../includes/mobile-menu/mobile-menu.html').default)(data) %>
<%= _.template(require('./../includes/menu/menu.html').default)(data) %>

<section class="section-contact">
  <div class="container-fluid p-0">
    <div class="container stocks">
      <%= _.template(require('./../includes/breadcrumb/breadcrumb.html').default)(data) %>
      <div class="title-block">
        <h1 class="title">
          Контакты
        </h1>
      </div>
      <div class="row">
        <div class="offset-lg-3 col-lg-6 col-md-10 col-12">
          <div class="contact">
            <div class="contact__info">
              <img src="img/contact-line.svg" class="contact__image-line" alt="">
              <p class="contact__text">
                Официальный интернет-магазин российского
                обжарщика кофе "Царское Подворье".
              </p>
              <a href="tel:79250311337" class="contact__link">
                <div class="contact__image-block">
                  <img src="img/phone-contact.svg" alt="Телефон">
                </div>

                +7(925) <strong>&nbsp;031-13-37</strong></a>
              <a href="mailto:marketing@tzarpo.ru" class="contact__link">
                <div class="contact__image-block">
                  <img src="img/mail-contact.svg" alt="Email">
                </div>
                <strong>marketing</strong>@tzarpo.ru</a>
              <span class="contact__link">
                 <div class="contact__image-block">
                   <img src="img/point-contact.svg" alt="Карта">
                 </div>
                <strong>Москва,&nbsp;</strong> ул. Уржумская, д. 4</span>
            </div>
            <div class="contact-doc">
              <span class="contact-doc__title">Юридическая информация:</span>
              <p class="contact-doc__info">ИП Софронова Н.А.</p>
              <p class="contact-doc__info">ИНН: 672212233273</p>
              <p class="contact-doc__info">ОГРН: 316503200068435</p>
            </div>
            <div class="map-area">
              <div id="map" style="height: 100%; width: 100%; z-index: 999; position: relative"></div>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</section>


<%= _.template(require('./../includes/form-questions/form-questions.html').default)(data) %>
<%= _.template(require('./../includes/footer/footer.html').default)(data) %>
<%= _.template(require('./../includes/default/head-end.html').default)(data) %>
