<% var data = {
title: "Карточки товаров"
}; %>
<%= _.template(require('./../includes/default/head-start.html').default)(data) %>

<%= _.template(require('./../includes/header/header.html').default)(data) %>
<%= _.template(require('./../includes/mobile-menu/mobile-menu.html').default)(data) %>

<section class="section-empty-page">
  <div class="container-fluid p-0">
    <div class="container empty-page">
      <div class="row">
        <div class="col-lg-7 col-12">
          <h2 class="empty-page__title">
            404
          </h2>
          <p class="empty-page__text">
            Страница не найдена
          </p>
          <p  class="empty-page__desc">
            Неправильно набран адрес или такой страницы не существует.
          </p>
          <div class="d-flex justify-content-center">
            <a href="#" class="button button--orange empty-page__button-orange">
              вернуться на сайт
            </a>
          </div>
        </div>
      </div>

    </div>
  </div>
</section>


<%= _.template(require('./../includes/form-questions/form-questions.html').default)(data) %>
<%= _.template(require('./../includes/footer/footer.html').default)(data) %>
<%= _.template(require('./../includes/default/head-end.html').default)(data) %>
