<% var data = {
title: "Акции"
}; %>
<%= _.template(require('./../includes/default/head-start.html').default)(data) %>

<%= _.template(require('./../includes/header/header.html').default)(data) %>
<%= _.template(require('./../includes/mobile-menu/mobile-menu.html').default)(data) %>
<section class="section-page-title section-page-title--stocks">
  <div class="container section-page-title__container">
    <h1 class="section-page-title__title">
      Акции
    </h1>
  </div>
</section>

<%= _.template(require('./../includes/menu/menu.html').default)(data) %>

<section class="section-history section-stocks-gift">
  <img src="img/news-image-1.png" alt="" class="section-history__image-1">
  <img src="img/news-image-2.png" alt="" class="section-history__image-2">
  <div class="container-fluid p-0">
    <div class="container gift-set">
      <%= _.template(require('./../includes/breadcrumb/breadcrumb.html').default)(data) %>
      <div class="row">
        <div class="offset-lg-2 d-lg-block d-none"></div>
        <div class="col-lg-8 ">
          <div class="gift">
            <div class="gift__image-block">
              <img src="img/gift.png" alt="Набор">
            </div>
            <p class="gift__name">
              Подарочный набор “ТЕТ-А-ТЕТ"
            </p>
            <div class="gift__count-block">
              <div class="gift__count-block-line">
                <div class="card__price gift__price">
                  <span class="total">
                    156
                  </span>
                  <span class="rub">₽</span>
                </div>
                <p class="gift__art">
                  Артикул: 000002052
                </p>
                <div class="gift__control d-flex justify-content-center flex-wrap">

                  <label class="control">
                    <button class="button">
                      -
                    </button>
                    <input type="text" value="99">
                    <button class="button">+</button>
                  </label>

                  <button class="button button--orange">
                    В корзину
                  </button>
                </div>
              </div>
            </div>
          </div>
          <span class="gift-line"></span>
        </div>
      </div>
      <div class="offset-lg-2 d-lg-block d-none"></div>
      <div class="gift-info">
        <p class="gift-info__text">
          Стоимость доставки по Москве - 250 рублей.
          При заказе от 2900 рублей доставка бесплатная.
          <br><br>
          Стоимость доставки в другие регионы рассчитывается в корзине
          автоматически.
        </p>
      </div>
    </div>
  </div>
</section>


<%= _.template(require('./../includes/form-questions/form-questions.html').default)(data) %>
<%= _.template(require('./../includes/footer/footer.html').default)(data) %>
<%= _.template(require('./../includes/default/head-end.html').default)(data) %>
