<% var data = {
title: "Карточки товаров"
}; %>
<%= _.template(require('./../includes/default/head-start.html').default)(data) %>

<%= _.template(require('./../includes/header/header.html').default)(data) %>
<%= _.template(require('./../includes/mobile-menu/mobile-menu.html').default)(data) %>
<section class="section-page-title section-page-title--coffe">
  <div class="container section-page-title__container">
    <h1 class="section-page-title__title">
      Кофе
    </h1>
  </div>
</section>

<!--<%= _.template(require('./../includes/menu/menu.html').default)(data) %>-->

<main class="product-page-area">
  <section class="section-product">
    <div class="container">
      <%= _.template(require('./../includes/breadcrumb/breadcrumb.html').default)(data) %>
      <div class="product-cart">
        <img src="img/product-image-1.png"
             class="absolute-image product-cart__image-1"
             alt="">
        <img src="img/product-image-2.png"
             class="absolute-image product-cart__image-2"
             alt="">
        <img src="img/product-image-3.png"
             class="absolute-image product-cart__image-3"
             alt="">
        <div class="row">
          <div class="col-lg-5 col-12">
            <div class="product-cart__image-content">
              <div class="product-cart__image-block">
                <img src="https://bonkashop.com/upload/resize_cache/iblock/c8a/281_400_1/c8ac1ff2a3e71002703aaf02855e0c2b.png" alt=""  width="350">
              </div>
              <span class="product-cart__art">
              Артикул: УТ000000334
            </span>
            </div>
          </div>
          <div class="col-lg-6 col-12">
            <div class="product-cart__content">
              <h1 class="product-cart__name">
                Барбадос(Бонка)
              </h1>
              <p class="product-cart__text">
                <span>«Малибу» </span>— знаменитый ликер с острова Барбадос. Его кокосовый аромат, оттененный нотками
                рома, в сочетании
                со вкусом кофе никого не оставит равнодушным.
              </p>
              <ul class="product-cart__list">
                <li class="product-cart__item">
                  <span class="info">Часть света:</span>
                  <span class="data">Америка</span>
                </li>
                <li class="product-cart__item">
                  <span class="info">Степень обжарки:</span>
                  <span class="data">средняя</span>
                </li>
              </ul>
              <div class="product-cart-price">
                <span class="text">Цена:</span>
                <div class="total">
                  <span class="price">156</span>
                  <span class="rub"> ₽</span>
                </div>
              </div>

              <div class="product-cart-type">
                <div class="card-type">
                  <div class="type">
                    <input type="radio" id="type-1" class="radio" name="type" checked>
                    <label for="type-1" class="label">
                      100 г
                    </label>
                  </div>
                  <div class="type">
                    <input type="radio" id="type-2" class="radio" name="type">
                    <label for="type-2" class="label">
                      200 г
                    </label>
                  </div>
                  <div class="type">
                    <input type="radio" id="type-3" class="radio" name="type">
                    <label for="type-3" class="label">
                      300 г
                    </label>
                  </div>
                </div>
              </div>
              <div class="card-select d-flex product-card-select">
                <div class="card-select__content flex-sm-nowrap flex-wrap">
                  <span class="card-select__text">
                  Помол
                </span>
                  <label class="select-filter-label">
                    <select class="select-type-product">
                      <option value="2">Для капельной кофеварки (крупный)
                      <option value="1">Для френч-пресса (крупный)</option>
                      <option value="1">Для эспрессо грубо (средний)</option>
                      <option value="1">Для чашки (средний)</option>
                      <option value="1">s</option>
                    </select>
                  </label>
                </div>

              </div>
              <div class="product-cart-rating d-flex flex-nowrap justify-content-between flex-md-row flex-column">
                <ul class="product-cart__list">
                  <li class="product-cart__item">
                    <span class="info">Кислинка</span>
                    <span class="data"><img src="img/s-1.svg" alt=""></span>
                  </li>
                  <li class="product-cart__item">
                    <span class="info">Сладость</span>
                    <span class="data"><img src="img/s-2.svg" alt=""></span>
                  </li>
                </ul>
                <ul class="product-cart__list">
                  <li class="product-cart__item">
                    <span class="info">Горчинка</span>
                    <span class="data"><img src="img/s-3.svg" alt=""></span>
                  </li>
                  <li class="product-cart__item">
                    <span class="info">Крепость</span>
                    <span class="data"><img src="img/s-4.svg" alt=""></span>
                  </li>
                </ul>
              </div>

              <div class="product-cart__control flex-sm-nowrap flex-wrap d-flex justify-content-between">
                <div class="product-cart__item  d-flex align-items-center">
                  <span class="info">Количество:</span>
                </div>
                <label class="control">
                  <button class="button">
                    -
                  </button>
                  <input type="text" value="99">
                  <button class="button">+</button>
                </label>

                <button class="button button--orange">
                  В корзину
                </button>
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="section-recommend">
    <div class="container-fluid p-0">
      <div class="container">
        <div class="recommend">
          <h2 class="sub-title">
            Рекомендуемые способы приготовления
          </h2>
          <div class="row">
            <div class="offset-lg-2 col-lg-8 col-12">
              <div class="recommend-list flex-wrap">
                <div class="recommend-item">
                  <div class="recommend-item__image-block">
                    <img src="./img/rec-1.svg" alt="">
                  </div>
                  <p class="recommend-item__name">
                    Гейзер
                  </p>
                </div>
                <div class="recommend-item">
                  <div class="recommend-item__image-block">
                    <img src="./img/rec-2.svg" alt="">
                  </div>
                  <p class="recommend-item__name">
                    Турка
                  </p>
                </div>
                <div class="recommend-item">
                  <div class="recommend-item__image-block">
                    <img src="./img/rec-3.svg" alt="">
                  </div>
                  <p class="recommend-item__name">
                    Френч-пресс
                  </p>
                </div>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>
  </section>

  <section class="section-product-delivery">
    <div class="container-fluid p-0">
      <div class="container">
        <div class="product-deliver">
          <img src="img/product-image-4.png" class="absolute-image product-deliver__image-1" alt="">
          <div class="title-block">
            <h2 class="title">Доставка</h2>
          </div>
          <p>
            Стоимость доставки по Москве - <span>250 рублей</span>.
          </p>
          <br>
          <p>
            При заказе от <span>2900</span> рублей доставка бесплатная.
          </p>
          <br>
          <p>
            Стоимость доставки в другие регионы рассчитывается в корзине <span>автоматически</span>.
          </p>
        </div>
      </div>
    </div>
  </section>

</main>

<%= _.template(require('./../includes/recomend/recomend.html').default)(data) %>
<%= _.template(require('./../includes/form-questions/form-questions.html').default)(data) %>
<%= _.template(require('./../includes/footer/footer.html').default)(data) %>

<%= _.template(require('./../includes/default/head-end.html').default)(data) %>
