<% var data = {
title: "О компании"
}; %>
<%= _.template(require('./../includes/default/head-start.html').default)(data) %>

<%= _.template(require('./../includes/header/header.html').default)(data) %>
<%= _.template(require('./../includes/mobile-menu/mobile-menu.html').default)(data) %>
<%= _.template(require('./../includes/menu/menu.html').default)(data) %>

<main style="background: #181c21">
  <section class="section-about">
    <div class="container-fluid p-0 position-relative">
      <div class="container about">

        <%= _.template(require('./../includes/breadcrumb/breadcrumb.html').default)(data) %>

        <div class="row" style="z-index: 1; position: relative">
          <div class="offset-lg-1 offset-md-0 col-lg-10 col-md-12">
            <div class="title-block">
              <h1 class="title">
                О компании
              </h1>
            </div>
            <h2 class="sub-title">
              Мы работаем уже 25 лет!
            </h2>
            <p class="about-info">
              Наша компания - Официальный интернет-магазин российского обжарщика кофе "Царское Подворье".
              <span>«Царское Подворье»</span> основано в <span>1997</span> году.
              Мы один из ведущих производителей Specialty coffee в России.
            </p>
          </div>
        </div>

      </div>
    </div>
  </section>
  <section class="section-about-block">
    <img src="img/about-image-1.png" class="about-block__image-1 absolute-image" alt="">
    <img src="img/about-image-2.png" class="about-block__image-2 absolute-image" alt="">
    <div class="container-fluid p-0">
      <div class="container about-block">
        <div class="row">
          <div class="col-12">
            <div class="about-preview">
              <img src="img/about-preview.png" alt="">
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <div class="section-about-wrapper-bg">
    <section class="section-about-advantages">
      <div class="container-fluid p-0">
        <div class="container about-advantages">
          <h2 class="sub-title">
            Наши преимущества
          </h2>

        </div>
      </div>
    </section>

    <section class="section-about-item">
      <img src="img/about-image-3.png" class="absolute-image section-about-item__image section-about-item__image--i1"
           alt="">
      <div class="container-fluid p-0">
        <div class="container">
          <div class="advantages-list">
            <div class="advantages-item">

              <div class="row">
                <div class="col-lg-5 col-12">
                  <img src="img/about-item-1.png" class="about-item-info-image" alt="">
                </div>
                <div class="offset-xl-1 offset-0 col-lg-6 col-12">
                  <div class="advantages-item__info">
                    <h6 class="advantages-item__title">
                      Только лучшие плантации
                    </h6>
                    <p class="advantages-item__text">
                      Зерна арабики только с лучших плантаций из 25 стран мира, выращенные на высоте более 1 000 метров
                      над
                      уровнем моря.
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="section-about-item">
      <img src="img/about-image-4.png" class="absolute-image section-about-item__image section-about-item__image--i2"
           alt="">
      <div class="container-fluid p-0">
        <div class="container">
          <div class="advantages-list">
            <div class="advantages-item">

              <div class="row">
                <div class="col-lg-6 col-12 order-lg-1 order-2">
                  <div class="advantages-item__info">
                    <h6 class="advantages-item__title">
                      Собранные вручную
                    </h6>
                    <p class="advantages-item__text">
                      Мы используем только арабику нового урожая, собранную методом picking (т.е. поштучно, вручную). На
                      одной ветке кофейного дерева могут одновременно находиться цветы, зеленые, спелые
                      и презревшие кофейные ягоды. И только ручной сбор позволяет получать продукт высочайшего класса.
                    </p>
                  </div>
                </div>
                <div class="offset-xl-1 offset-0  col-lg-5 col-12 order-lg-2 order-1">
                  <img src="img/about-item-2.png" class="about-item-info-image about-item-info-image--right" alt="">
                </div>

              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="section-about-item">
      <img src="img/about-image-5.png" class="absolute-image section-about-item__image section-about-item__image--i1"
           alt="">
      <div class="container-fluid p-0">
        <div class="container">
          <div class="advantages-list">
            <div class="advantages-item">

              <div class="row">
                <div class="col-lg-5 col-12">
                  <img src="img/about-item-3.png" class="about-item-info-image" alt="">
                </div>
                <div class="offset-xl-1 offset-0 col-lg-6 col-12">
                  <div class="advantages-item__info">
                    <h6 class="advantages-item__title">
                      Тщательно отобранные
                    </h6>
                    <p class="advantages-item__text">
                      Прошедшие многоступенчатую сортировку и калибровку.
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="section-about-item">
      <img src="img/about-image-7.png" class="absolute-image section-about-item__image section-about-item__image--i2"
           alt="">
      <div class="container-fluid p-0">
        <div class="container">
          <div class="advantages-list">
            <div class="advantages-item">

              <div class="row">
                <div class="col-lg-6 col-12 order-lg-1 order-2">
                  <div class="advantages-item__info">
                    <h6 class="advantages-item__title">
                      Лучшая обжарка
                    </h6>
                    <p class="advantages-item__text">
                      Степень обжарки подобрана нашим технологом индивидуально для каждого сорта.
                      Обжаркой занимаются профессионалы с огромным стажем на немецком оборудовании: ростерах Probat.
                      Благодаря сложной системе тэнов и максимальной партии загрузки в 12 килограмм нам удается всегда
                      попадать в цвет обжарки и поддерживать его постоянство от партии к партии.
                    </p>
                  </div>
                </div>
                <div class="offset-xl-1 offset-0  col-lg-5 col-12 order-lg-2 order-1">
                  <img src="img/about-item-4.png" class="about-item-info-image about-item-info-image--right" alt="">
                </div>

              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>

  <section class="section-about-slider">
    <img src="img/about-image-8.png" class="section-about-slider__image-1 absolute-image" alt="">
    <img src="img/about-image-9.png" class="section-about-slider__image-2 absolute-image" alt="">
    <div class="container-fluid">
      <div class="container container-about-slider">
        <div class="row" style="z-index: 1; position: relative">
          <div class="col-12">
            <h2 class="sub-title">
              Дипломы и медали
            </h2>
            <p class="about-info">
              Продукция <span>«Царского подворья» </span>неоднократно награждалась дипломами и медалями различных выставок, в том числе
              международных. Ежегодно престижная продовольственная выставка <span>«Продэкспо» </span>признает наш кофе одним из лучших
              в России. Мы уверены в нашем продукте, который принципиально отличается от привычного масс-маркета.
            </p>

            <div class="swiper swiper-sert">
              <!-- Additional required wrapper -->
              <div class="swiper-wrapper">
                <!-- Slides -->
                <div class="swiper-slide">
                  <img src="./img/sert-1.png" alt="">
                </div>
                <div class="swiper-slide" >
                  <img src="./img/sert-2.png" alt="">
                </div>
                <div class="swiper-slide">
                  <img src="./img/sert-3.png" alt="">
                </div>
                <div class="swiper-slide">
                  <img src="./img/sert-4.png" alt="">
                </div>
                <div class="swiper-slide">
                  <img src="./img/sert-1.png" alt="">
                </div>
                <div class="swiper-slide" >
                  <img src="./img/sert-2.png" alt="">
                </div>
                <div class="swiper-slide">
                  <img src="./img/sert-3.png" alt="">
                </div>
                <div class="swiper-slide">
                  <img src="./img/sert-4.png" alt="">
                </div>
              </div>
              <!-- If we need pagination -->
              <!--            <div class="swiper-pagination"></div>-->

              <!-- If we need navigation buttons -->
              <!--            <div class="swiper-button-prev"></div>-->
              <!--            <div class="swiper-button-next"></div>-->

              <!-- If we need scrollbar -->
              <div class="swiper-scrollbar"></div>
            </div>


          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- отступ нижний-->
  <section class="about-indent">

  </section>
</main>


<%= _.template(require('./../includes/form-questions/form-questions.html').default)(data) %>
<%= _.template(require('./../includes/footer/footer.html').default)(data) %>

<%= _.template(require('./../includes/default/head-end.html').default)(data) %>
