<% var data = {
title: "Корзина пустая"
}; %>
<%= _.template(require('./../includes/default/head-start.html').default)(data) %>

<%= _.template(require('./../includes/header/header.html').default)(data) %>
<%= _.template(require('./../includes/mobile-menu/mobile-menu.html').default)(data) %>

<section class="section-page-title section-page-title--tea">
  <div class="container section-page-title__container">
    <h1 class="section-page-title__title">
      Корзина
    </h1>
  </div>
</section>

<!--<%= _.template(require('./../includes/menu/menu.html').default)(data) %>-->

<section class="section-cart">
  <div class="container-fluid p-0">
    <div class="container">
      <%= _.template(require('./../includes/breadcrumb/breadcrumb.html').default)(data) %>
      <div class="row">
        <div class="col-12">
          <div class="cart-content">
            <div class="cart-content__list">

              <div class="cart-item">
                <button class="button cart-item__delete d-md-none d-flex">
                  <img src="img/delete-cart.svg" alt="Удалить">
                </button>

                <div class="cart-item__header">

                    <div class="product-cart__image-block cart-item__image-block">
                      <img
                          src="https://bonkashop.com/upload/resize_cache/iblock/c8a/281_400_1/c8ac1ff2a3e71002703aaf02855e0c2b.png"
                          alt="" width="180">

                    </div>
                    <div class="cart-item__info">
                      <a href="#" class="cart-item__link">
                        Ромео & Джульетта / День Святого Валентина
                        (в зернах, 100 г)
                      </a>
                    </div>
                  </div>

                <div class="cart-item__bottom cart-item-bottom">
                  <div class="row">
                    <div class="offset-lg-3 col-lg-9 col-12 cart-item-bottom__col ">
                      <div class="cart-item-bottom__type d-md-flex d-none ">
                        <span class="cart-item-bottom__text">Цена:</span>
                        <div class="card__price">
                          <span class="total">
                            156
                          </span>
                          <span class="rub">₽</span>
                        </div>
                      </div>
                      <div class="cart-item-bottom__type">
                        <span class="cart-item-bottom__text d-md-flex d-none ">Количество:</span>
                        <label class="control">
                          <button class="button">
                            -
                          </button>
                          <input type="text" value="99">
                          <button class="button">+</button>
                        </label>
                      </div>
                      <div class="cart-item-bottom__type">
                        <span class="cart-item-bottom__text">Итого:</span>
                        <div class="card__price">
                          <span class="total">
                            156
                          </span>
                          <span class="rub">₽</span>
                        </div>
                      </div>
                      <button class="d-md-flex d-none align-items-center button cart-item-bottom__type  cart-item__button" >
                        <span class="cart-item-bottom__text">Удалить:</span>
                        <img src="img/trash.svg" alt="" class="cart-item__icon-trash">
                      </button>
                    </div>
                  </div>

                </div>
              </div>
              <div class="cart-item">
                <button class="button cart-item__delete d-md-none d-flex">
                  <img src="img/delete-cart.svg" alt="Удалить">
                </button>

                <div class="cart-item__header">

                  <div class="product-cart__image-block cart-item__image-block">
                    <img
                      src="https://bonkashop.com/upload/resize_cache/iblock/c8a/281_400_1/c8ac1ff2a3e71002703aaf02855e0c2b.png"
                      alt="" width="180">

                  </div>
                  <div class="cart-item__info">
                    <a href="#" class="cart-item__link">
                      Ромео & Джульетта / День Святого Валентина
                      (в зернах, 100 г)
                    </a>
                  </div>
                </div>

                <div class="cart-item__bottom cart-item-bottom">
                  <div class="row">
                    <div class="offset-lg-3 col-lg-9 col-12 cart-item-bottom__col ">
                      <div class="cart-item-bottom__type d-md-flex d-none ">
                        <span class="cart-item-bottom__text">Цена:</span>
                        <div class="card__price">
                          <span class="total">
                            156
                          </span>
                          <span class="rub">₽</span>
                        </div>
                      </div>
                      <div class="cart-item-bottom__type">
                        <span class="cart-item-bottom__text d-md-flex d-none ">Количество:</span>
                        <label class="control">
                          <button class="button">
                            -
                          </button>
                          <input type="text" value="99">
                          <button class="button">+</button>
                        </label>
                      </div>
                      <div class="cart-item-bottom__type">
                        <span class="cart-item-bottom__text">Итого:</span>
                        <div class="card__price">
                          <span class="total">
                            156
                          </span>
                          <span class="rub">₽</span>
                        </div>
                      </div>
                      <button class="d-md-flex d-none align-items-center button cart-item-bottom__type  cart-item__button" >
                        <span class="cart-item-bottom__text">Удалить:</span>
                        <img src="img/trash.svg" alt="" class="cart-item__icon-trash">
                      </button>
                    </div>
                  </div>

                </div>
              </div>
            </div>
            <div class="cart-content-bottom flex-lg-row flex-column">
              <div class="cart-item-bottom__type  cart-count d-flex">
                <span class="cart-count__text">В корзине:</span>
                <span class="cart-count__count">2 товара</span>
              </div>
              <div class="cart-item-bottom__type ">
                <span class="cart-item-bottom__text">Всего:</span>
                <div class="card__price mb-0">
                          <span class="total">
                            156
                          </span>
                  <span class="rub">₽</span>
                </div>
              </div>
              <div class="cart-item-bottom__type
              cart-item-bottom__buttons
              d-flex  ml-lg-auto  ">
                <button class="button button--cont">
                  Продолжить покупки
                </button>
                <button class="button button--orange">
                  Оформить
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</section>


<%= _.template(require('./../includes/form-questions/form-questions.html').default)(data) %>
<%= _.template(require('./../includes/footer/footer.html').default)(data) %>

<%= _.template(require('./../includes/default/head-end.html').default)(data) %>
