<% var data = {
title: "Карточки товаров"
}; %>
<%= _.template(require('./../includes/default/head-start.html').default)(data) %>

<%= _.template(require('./../includes/header/header.html').default)(data) %>
<%= _.template(require('./../includes/mobile-menu/mobile-menu.html').default)(data) %>
<section class="section-page-title section-page-title--history">
  <div class="container section-page-title__container">
    <h1 class="section-page-title__title">
      Бонгид
    </h1>
  </div>
</section>

<!--<%= _.template(require('./../includes/menu/menu.html').default)(data) %>-->


<section class="section-history">
  <div class="container-fluid p-0">
    <div class="container history">
      <%= _.template(require('./../includes/breadcrumb/breadcrumb.html').default)(data) %>
      <h2 class="history__title">
        История кофе
      </h2>
      <div class="history-list">

        <div class="history-item">

          <div class="history-item__main-content flex-lg-row flex-column">
            <div class="history-item__r">
              <div class="stock">
                <div class="stock__image-block history-item__image-block">
                  <img src="img/history.png" alt="" height="196" width="341">
                </div>
                <p class="history-item__text">
                  <span>Кофейные плантации в Бразилии</span>
                </p>
              </div>
            </div>

            <div class="history-item__l">
              <h3 class="history-item__title">
                Колониальный период
              </h3>
              <p class="history-item__desc">
                В конце XVII века голландские торговцы тайно вывезли саженцы кофейного дерева из
                <span>Южной Индии</span>. Их посадили
                в колониях – на островах <span>Ява</span> и <span>Суматра</span>. В тропическом климате деревья росли
                хорошо. Че­рез не­сколько лет
                Голландия стала основным поставщиком кофе в Европе. <span>&nbsp;&nbsp;<a href="#" class="open-text">Далее</a></span>
              </p>

            </div>
          </div>

          <div class="history-item__content-desc">
            <p class="history-item__desc">
              В 1714 году бургомистр Амстердама Николас Уитсон пода­рил саженцы кофейных деревьев французскому королю
              Людовику XIV. Им отвели почётное место в Ботаническом саду.
              Вскоре капитан <span>Клиё</span> выкрал несколько саженцев оттуда и увез их в <span>Новый Свет</span> (на
              остров Мартиника). Это
              обеспечило Франции важную роль в мировой торговле кофе.
              В 1727 году <span>португальцы</span> начинают выращивать кофе в <span>Бразилии.</span>
              В середине XVIII века <span>испанцы</span> закладывают огромные плантации на <span>Кубе</span>, в <span>Пуэрто-Рико </span>и
              в <span>Колумбии</span>.
              <span>Британцы</span> пытались выращивать кофе в <span>Индии</span> и <span>Цейлоне</span>, но эпидемия
              вынудила их перейти на производство чая.
              Единственным их успехом в кофейном деле стали плантации на <span>Ямайке</span> (1730 года).
              К концу XIX века африканское дерево широко распространилось по всему земному шару. Этому способствовали
              все колониальные державы, которые упорно выращивали кофе на завоеванных землях.
              И в начале XX века кофе возвращается в Африку: <span>немецкие колонисты</span> создают плантации на
              склонах
              <span>Килиманджаро</span> (в современных Кении и Танзании).
              <br>
              <br>
              Но Африка сыграла еще одну роль в кофейной истории. На притяжении двух веков португальцы и голландцы
              массово вывозили рабов с этого континента в Бразилию и на остров Ява. Таким образом народы не научившиеся
              культивировать и готовить кофе (хоть он и рос на их территории изначально), выращивали его против
              собственной воли до конца XIX века. <span>&nbsp;&nbsp;<a href="#" class="hidden-text">Скрыть</a></span>
            </p>
          </div>

        </div>

        <div class="history-item">

          <div class="history-item__main-content flex-lg-row flex-column">
            <div class="history-item__r">
              <div class="stock">
                <div class="stock__image-block history-item__image-block">
                  <img src="img/history-1.png" alt="" height="196" width="341">
                </div>
                <p class="history-item__text">
                  <span>Кофейные плантации в Бразилии</span>
                </p>
              </div>
            </div>

            <div class="history-item__l">
              <h3 class="history-item__title">
                Арабский период
              </h3>
              <p class="history-item__desc">
                В конце XVII века голландские торговцы тайно вывезли саженцы кофейного дерева из Южной Индии. Их
                посадили в колониях –
                на островах Ява и Суматра. В тропическом климате деревья росли хорошо. Че­рез не­сколько лет Голландия
                стала основным
                поставщиком кофе в Европе.<span>&nbsp;&nbsp;<a href="#" class="open-text">Далее</a></span>
              </p>

            </div>
          </div>
        </div>

        <div class="history-item">

          <div class="history-item__main-content flex-lg-row flex-column">
            <div class="history-item__r">
              <div class="stock">
                <div class="stock__image-block history-item__image-block">
                  <img src="img/history-2.png" alt="" height="196" width="341">
                </div>
                <p class="history-item__text">
                  <span>Кофейные плантации в Бразилии</span>
                </p>
              </div>

            </div>

            <div class="history-item__l">
              <h3 class="history-item__title">
                Африканский период
              </h3>
              <p class="history-item__desc">
                В конце XVII века голландские торговцы тайно вывезли саженцы кофейного дерева из Южной Индии. Их
                посадили в колониях –
                на островах Ява и Суматра. В тропическом климате деревья росли хорошо. Че­рез не­сколько лет Голландия
                стала основным
                поставщиком кофе в Европе.<span>&nbsp;&nbsp;<a href="#" class="open-text">Далее</a></span>
              </p>

            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</section>


<%= _.template(require('./../includes/form-questions/form-questions.html').default)(data) %>
<%= _.template(require('./../includes/footer/footer.html').default)(data) %>
<%= _.template(require('./../includes/default/head-end.html').default)(data) %>
