<% var data = {
title: "Карточки товаров"
}; %>
<%= _.template(require('./../includes/default/head-start.html').default)(data) %>

<%= _.template(require('./../includes/header/header.html').default)(data) %>

<div class="container">
  <%= _.template(require('./../includes/mobile-menu/mobile-menu.html').default)(data) %>
  <label for="speed">Все</label>
  <select name="speed" id="speed">
    <option>Царское
      подворье
    </option>
    <option>Бонка</option>
    <option selected="selected">В зернах</option>
    <option>Бонка</option>
  </select>
  <!--  <label class="select-filter-label">-->
  <!--    <select class="select-filter">-->
  <!--      <option value="2">Царское арское-->
  <!--        подворье арское-->
  <!--        подворье-->
  <!--        подворье-->
  <!--      </option>-->
  <!--      <option value="1">Бонка</option>-->
  <!--      <option value="1">Бонка</option>-->
  <!--      <option value="1">Бонка</option>-->
  <!--    </select>-->
  <!--  </label>-->
  <!--      <label class="select-label">-->
  <!--        <select class="select-test">-->
  <!--          <option value="2">Царское-->
  <!--            подворье</option>-->
  <!--          <option value="1">Бонка</option>-->
  <!--          <option value="1">Бонка</option>-->
  <!--          <option value="1">Бонка</option>-->
  <!--        </select>-->
  <!--      </label>-->


  <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#modal-cheaper">
    Нашли товар дешевле?
  </button>
  <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#modal-product-add">
    Товар добавлен в корзину
  </button>
  <div class="modal fade " id="modal-product-add" tabindex="-1">
    <div class="modal-dialog ">

      <div class="modal-content modal-product-add">
        <button class="button modal-cheaper__close "
                type="button" data-bs-dismiss="modal" aria-label="Close">
          <img src="img/close-modal.svg" class="modal-custom__close-icon" alt="">
        </button>

        <h2 class="modal-cheaper__title">
          Товар добавлен в корзину
        </h2>

        <div class="modal-product-add__content">
          <div class="card__image-area">
            <div class="card__image-block">
              <img
                  src="https://bonkashop.com/upload/resize_cache/iblock/2af/281_400_1/2af173424a0549984a359def3fba4705.png"
                  alt="">
            </div>
          </div>

          <div class="modal-product-add__info">
            <div class="card__title">
              Барбадос(Бонка)
            </div>
            <p class="card__sub-title">
              кофе
            </p>
            <div class="card__price modal-product-add__price">
              <label class="control">
                <button class="button">
                  -
                </button>
                <input type="text" value="99">
                <button class="button">+</button>
              </label>
              <div>
                      <span class="total">
                1560

              </span>
                <span class="rub">₽</span>
              </div>

            </div>
          </div>
        </div>
        <div class="modal-product-add__footer flex-md-row flex-column">
          <button class="button button--cont" data-bs-dismiss="modal">
            продолжить покупки
          </button>
          <button class="button button--orange">
            перейти в корзину
          </button>
        </div>
      </div>
    </div>
  </div>
  <!-- Modal -->
  <div class="modal fade " id="modal-cheaper" tabindex="-1">
    <div class="modal-dialog ">

      <div class="modal-content modal-cheaper">
        <button class="button modal-cheaper__close "
                type="button" data-bs-dismiss="modal" aria-label="Close">
          <img src="img/close-modal.svg" class="modal-custom__close-icon" alt="">
        </button>

        <h2 class="modal-cheaper__title">
          Нашли товар дешевле?
        </h2>
        <p class="modal-cheaper__text">
          Пришлите нам ссылку на этот товар в другом магазине и мы
          снизим цену! <a href="#">Условия акции</a>
        </p>

        <div class="modal-cheaper__input-container">
          <label for="fio" class="form-label">фио*</label>
          <input type="text"
                 id="fio"
                 class="form-input">
        </div>
        <div class="input-group d-flex justify-content-between flex-md-nowrap flex-wrap">
          <div class="modal-cheaper__input-container">
            <label for="phone" class="form-label">Контактный телефон*</label>
            <input type="text"
                   id="phone"
                   class="form-input">
          </div>
          <div class="modal-cheaper__input-container">
            <label for="email" class="form-label">email</label>
            <input type="text"
                   id="email"
                   class="form-input ">
          </div>
        </div>

        <div class="modal-cheaper__input-container">
          <label for="link" class="form-label">ссылка на товар с другого сайта</label>
          <input type="text"
                 id="link"
                 class="form-input">
        </div>
        <div class="modal-cheaper__input-container">
          <label for="text" class="form-label">ваше сообщение</label>
          <textarea class="form-input modal-cheaper__text-area" id="text" aria-describedby="comment"></textarea>
        </div>
        <div class="modal-cheaper__footer d-flex flex-md-row flex-column">

          <div class="stock-checkbox d-flex flex-wrap">
            <div class="checkbox">
              <label class="check-task align-items-md-center align-items-baseline">
                <input type="checkbox" readonly="">
                <span class="cr checkbox__cr"></span>

                <div class="checkbox__text">
                  С <a href="#">условиями акции
                  ознакомлен.</a>

                </div>
              </label>
            </div>
          </div>


          <button class="button button--orange">
            отправить
          </button>

        </div>
      </div>
    </div>
  </div>


</div>

<%= _.template(require('./../includes/form-questions/form-questions.html').default)(data) %>
<%= _.template(require('./../includes/footer/footer.html').default)(data) %>
<%= _.template(require('./../includes/default/head-end.html').default)(data) %>
