<% var data = {
title: "Карточки товаров"
}; %>
<%= _.template(require('./../includes/default/head-start.html').default)(data) %>

<%= _.template(require('./../includes/header/header.html').default)(data) %>
<%= _.template(require('./../includes/mobile-menu/mobile-menu.html').default)(data) %>
<section class="section-page-title section-page-title--stocks">
  <div class="container section-page-title__container">
    <h1 class="section-page-title__title">
      Акции
    </h1>
  </div>
</section>

<%= _.template(require('./../includes/menu/menu.html').default)(data) %>


<section class="section-politics">
  <div class="container-fluid p-0">
    <div class="container politics">
      <%= _.template(require('./../includes/breadcrumb/breadcrumb.html').default)(data) %>
      <div class="title-block">
        <h1 class="title">
          Политика конфиденциальности
        </h1>
      </div>
    </div>
  </div>
  <div class="container-fluid politics-content">
    <div class="container ">
      <h6>
        Общие положения
      </h6>
      <p>
        ИП Софронова Н.А. (ОГРНИП 316503200068435, свидетельство №011630964 от 30.08.2016 (далее - “Бонка”, “мы”, “нас”
        или “наш”) считает своим долгом защищать конфиденциальность персональных данных клиентов (далее – «Персональные
        данные», «Личная информация», «Личные данные»), которые могут быть идентифицированы каким-либо образом, и
        которые посещают веб-сайт http://bonkashop.com (далее - “Сайт”) и пользуются его услугами (далее - “Сервисы”).
        Поправки к настоящей Политике конфиденциальности будут размещены на Сайте и/или в Сервисах и будут являться
        действительными сразу после публикации. Ваше дальнейшее использование Сервисов после внесения любых поправок в
        Политике конфиденциальности означает Ваше принятие данных изменений.
      </p>
      <br>
      <br>
      <h6>
        Получение и обработка персональных данных
      </h6>
      <p>
        Настоящая Политика конфиденциальности регулирует отношения между «Бонка» и физическим или юридическим лицом
        (далее – «Вы», «Ваш») в области предоставления и обработки Персональных данных.
      </p>
      <br>
      <p>
        «Бонка» производит обработку Ваших персональных данных на условиях, являющихся предметом настоящей Политики
        конфиденциальности.
      </p>
      <br>
      <p>
        Политика конфиденциальности вступает в силу с момента подтверждения принятия Вами “Условий сотрудничества”, в
        частности при отметке пункта “Я согласен с условиями предоставления услуг” во время регистрации на Сайте.
      </p>
      <br>
      <p>
        «Бонка» сохраняет за собой право изменять настоящую Политику конфиденциальности в любое время без какого-либо
        специального уведомления. Если Вы продолжаете пользоваться нашими услугами после публикации изменений в Политике
        конфиденциальности, считается, что Вы тем самым принимает изменения условий Политики конфиденциальности.
      </p>
      <br>
      <p>
        Регистрируясь на сайте «Бонка» и отмечая пункт “Я согласен с условиями предоставления услуг”, Вы подтверждаете
        принятие Вами решения о предоставлении своих персональных данных и даете согласие на их обработку своей волей и
        в своем интересе, за исключением случаев, предусмотренных частью 2 статьи 9 Федерального закона от 27.07.2006 Э
        152-ФЗ «О персональных данных».
      </p>
      <br>
      <p>
        Вы несете ответственность за предоставление персональных данных иного лица.
      </p>
      <br>
      <p>
        Личные данные, вводимые Вами при использовании сервиса «Бонка» используются для:
      </p>
      <br>
      <p>
        - совершения торговой сделки и/или оказания услуги;
      </p>
      <br>
      <p>
        - предоставления Вам доступа к Сайту, Сервисам и для улучшения качества Сайта и Сервисов;
      </p>
      <br>
      <p>
        - предоставления Вам информации, чтобы Вы могли использовать Сайт и Сервисы более эффективно;
      </p>
      <br>
      <p>
        - создания, управления и контроля Вашей Учетной записи и для проверки прав доступа к сервисам и программному
        обеспечению;
      </p>
      <br>
      <p>
        - оплаты использования Вашей Учетной записи, Сервисов и услуг «Бонки»;
      </p>
      <br>
      <p>
        - общения с Вами с целью информирования об изменениях или дополнениях к Сервисам, или о наличии любых услуг,
        которые мы предоставляем;
      </p>
      <br>
      <p>
        - оценки уровня обслуживания, мониторинга трафика и показателя популярности различных вариантов обслуживания;
      </p>
      <br>
      <p>
        - осуществления наших маркетинговых мероприятий;
      </p>
      <br>
      <p>
        - соблюдения настоящей Политики конфиденциальности;
      </p>
      <br>
      <p>
        - подачи претензии и ответа на поданные претензии;
      </p>
      <br>
      <p>
        - защиты прав и законных интересов Вас, нас, наших пользователей и третьих лиц, в соответствии с действующим
        законодательством Российской Федерации.
      </p>
      <br>
      <p>
        «Бонка» обязуется не передавать Ваши личные данные третьим лицам.
      </p>
      <br>
      <p>
        «Бонка» оставляет за собой право в предусмотренных законом случаях передавать личные данные соответствующим
        службам, если это делается для защиты здоровья, жизни или свободы другого лица. «Бонка» готова делиться
        информацией, чтобы предотвратить преступления или помочь в их расследовании, если речь идет о подозрении на
        мошенничество, действиях, физически угрожающих безопасности людей, нарушениях правил использования или в
        случаях, когда это предусмотрено законом
      </p>
      <br>
      <p>
        Неконфиденциальная информация может быть предоставлена другим компаниям в целях маркетинга, рекламы и т.д.
        <br>
      <p>
        Принятие Политики конфиденциальности осуществляется путем проставления Вами соответствующей отметки “Я согласен
        с условиями предоставления услуг” при регистрации на Сайте и является Вашим согласием на обработку персональных
        данных.
      </p>
      <br>
      <p>
        Вы соглашаетесь с тем, что «Бонка» имеет право на хранение и обработку, в том числе и автоматизированную, любой
        информации, относящейся к Вашим персональным данным в соответствии с Федеральным законом от 27.07.2006 Э 152-ФЗ
        «О персональных данных», включая сбор, систематизацию, накопление, хранение, уточнение, использование,
        распространение (в том числе передачу), обезличивание, блокирование, уничтожение персональных данных,
        предоставленных Вами.
      </p>
      <br>
      <p>
        Обработка Ваших персональных данных производится путем смешанной обработки персональных данных без передачи и с
        передачей по внутренней сети «Бонка», c передачей и без передачи по сети Интернет.
      </p>
      <br>
      <p>
        «Бонка» обязуется обеспечить конфиденциальность и безопасность при обработке Ваших персональных данных.
      </p>
      <br>
      <p>
        В случае отзыва Вами согласия на обработку персональных данных, «Бонка» удаляет Ваши персональные данные и не
        использует их в дальнейшем.

      </p>
      <br>
      <p>
        В случаях, предусмотренных Федеральным законом от 27.07.2006 Э 152-ФЗ «О персональных данных», обработка
        персональных данных осуществляется только с согласия в письменной форме субъекта персональных данных. Письменное
        согласие субъекта персональных данных на обработку своих персональных данных должно включать в себя: фамилию,
        имя, отчество, адрес субъекта персональных данных, номер основного документа, удостоверяющего его личность,
        сведения о дате выдачи указанного документа и выдавшем его органе; наименование (фамилию, имя, отчество) и адрес
        оператора, получающего согласие субъекта персональных данных; цель обработки персональных данных; перечень
        персональных данных, на обработку которых дается согласие субъекта персональных данных; перечень действий с
        персональными данными, на совершение которых дается согласие, общее описание используемых оператором способов
        обработки персональных данных; срок, в течение которого действует согласие, а также порядок его отзыва.
      </p>
      <br>
      <p>
        Для обработки персональных данных, содержащихся в согласии в письменной форме субъекта на обработку его
        персональных данных, дополнительное согласие не требуется.
      </p>
      <br>
      <p>
        В случае недееспособности субъекта персональных данных согласие на обработку его персональных данных дает в
        письменной форме законный представитель субъекта персональных данных.
      </p>
      <br>
      <p>
        В случае смерти субъекта персональных данных согласие на обработку его персональных данных дают в письменной
        форме наследники субъекта персональных данных, если такое согласие не было дано субъектом персональных данных
        при его жизни.
      </p>
      <br>
      <br>
      <h6>
        Согласие на сбор и использование информации
      </h6>
      <br>
      <p>
        Когда Вы присоединяетесь к нам, как пользователь нашего Сайта, мы просим предоставить личную информацию во время
        оформления заказа, которая будет использоваться нами или транспортными компаниями (и курьерскими службами) для
        осуществления доставки товаров.
      </p>
      <br>
      <p>
        Предоставляя личную информацию нам, Вы добровольно соглашаетесь на сбор, использование и раскрытие такой личной
        информации. Не ограничивая вышесказанное, мы можем время от времени уточнять Ваше согласие в процессе сбора,
        использования или раскрытия Вашей личной информации в конкретных обстоятельствах. Иногда Ваше согласие будет
        подразумеваться через Ваше взаимодействие с нами, если цель сбора, использования или раскрытия информации
        очевидна, и Вы добровольно предоставляете эту информацию.
      </p>
      <br>
      <p>
        Иногда мы можем оповещать Вас по поводу наших продуктов, услуг, новостей и событий. У Вас есть возможность не
        получать эту информацию. Мы предоставляем возможность отказаться от всех почтовых сообщений подобного рода, или
        приостановить оповещения с описанными выше целями, если Вы свяжетесь с нами и подтвердите желание не сообщать
        Вам данную информацию. Единственный вид данных сообщений, от которых Вы не можете отказаться, это обязательные
        объявления, касающиеся Сервисов, включая информацию, относящуюся к Вашей Учетной записи, планируемых
        приостановок и отключений Сервисов. Мы постараемся свести к минимуму подобные оповещения для Вас.
      </p>
      <br>
      <br>
      <h6>
        Раскрытие информации
      </h6>
      <p>
        Мы будем раскрывать Вашу информацию третьим лицам только в соответствии с Вашими инструкциями или в случае
        необходимости для того, чтобы предоставить Вам определенный сервис, или по другим причинам в соответствии с
        действующим законодательством Российской Федерации. Мы не осуществляем, не продаем, не распространяем или
        раскрываем Вашу личную информацию без предварительного получения Вашего на то разрешения за исключением случаев,
        предусмотренных законодательством Российской Федерации.
      </p>
      <br>
      <br>
      <h6>
        Совокупные (обезличенные) данные
      </h6>
      <p>
        Мы также можем использовать Вашу личную информацию для получения Совокупных данных для внутреннего пользования и
        для обмена с другими лицами на выборочной основе. Термин «Совокупные данные» означает данные, которые были
        лишены уникальной информации (без использования дополнительной информации невозможно определить принадлежность
        такой информации) для потенциального выявления клиентов, целевых страниц или конечных пользователей, и которые
        были изменены или объединены для предоставления обобщенной, анонимной информации. Ваша личность и личная
        информация будет храниться анонимно в Совокупных данных.
      </p>
      <br>
      <br>
      <h6>
        Ссылки
      </h6>
      <p>
        Сайт может содержать ссылки на другие сайты, и мы не несем ответственности за политику конфиденциальности или
        содержание данных сайтов. Мы рекомендуем Вам ознакомиться с политикой конфиденциальности связанных сайтов. Их
        политика конфиденциальности и деятельность отличаются от наших Политики конфиденциальности и деятельности.
      </p>
      <br>
      <br>
      <h6>
        Cookies и логгирование
      </h6>
      <p>
        Мы используем “куки” (cookies) и “логи” (log files) для отслеживания информации о пользователях. Cookies
        являются небольшими
        по объему данными, которые передаются веб-сервером через Ваш веб-браузер и хранятся на жестком диске Вашего
        компьютера. Мы используем cookies для отслеживания вариантов страниц, которые видел посетитель, для подсчета
        нажатий сделанных посетителем на том или ином варианте страницы, для мониторинга трафика и для измерения
        популярности сервисных настроек. Мы будем использовать данную информацию, чтобы предоставить Вам релевантные
        данные и услуги. Данная информация также позволяет нам убедиться, что посетители видят именно ту целевую
        страницу, которую они ожидают увидеть, в том случае, если они возвращаются через тот же URL-адрес, и это
        позволяет нам сказать, сколько людей нажимает на Ваши целевые страницы.
      </p>
      <br>
      <br>
      <h6>
        Безопасность
      </h6>
      <p>
        Мы будем стремиться предотвратить несанкционированный доступ к Вашей личной информации, однако, никакая передача
        данных через интернет, мобильное устройство или через беспроводное устройство не могут гарантировать 100%-ную
        безопасность. Мы будем продолжать укреплять систему безопасности по мере доступности новых технологий и методов.
      </p>
      <br>
      <p>
        Мы настоятельно рекомендуем Вам никому не разглашать свой пароль. Если вы забыли свой пароль, мы попросим Вас о
        подтверждении Вашей личности и отправим Вам письмо, содержащее ссылку, которая позволит Вам сбросить пароль и
        установить новый.

      </p>
      <p>
        Пожалуйста, помните, что Вы контролируете те данные, которые Вы сообщаете нам при использовании Сервисов. В
        конечном счете, Вы несете ответственность за сохранение в тайне Вашей личности, паролей и/или любой другой
        личной информации, находящейся в Вашем распоряжении в процессе пользования Сервисами. Всегда будьте осторожны и
        ответственны в отношении Вашей личной информации. Мы не несем ответственности за использование и не можем
        контролировать использование другими лицами любой информации, которую Вы предоставляете им, и Вы должны
        соблюдать осторожность в выборе личной информации, которую Вы передаете третьим лицам через Сервисы. Точно так
        же мы не несем ответственности за содержание личной информации или другой информации, которую Вы получаете от
        других пользователей через Сервисы, и Вы использованием Сервиса и Сайта освобождаете нас от любой
        ответственности в связи с содержанием любой личной информации или другой информации, которую Вы можете получить,
        пользуясь Сервисами. Мы не можем гарантировать и не несем никакой ответственности за проверку, точность личной
        информации или другой информации, предоставленной третьими лицами. Использованием Сервиса и Сайта Вы
        освобождаете нас от любой ответственности в связи с использованием подобной личной информации или иной
        информации о других.

      </p>
      <br>
      <br>
      <h6>
        Связь с нами
      </h6>
      <p>
        Любые вопросы или предложения относительно Политики конфиденциальности Вы можете направить на нашу почту -
        <a href="mailto:marketing@tzarpo.ru">marketing@tzarpo.ru</a>
      </p>
    </div>
  </div>
</section>


<%= _.template(require('./../includes/form-questions/form-questions.html').default)(data) %>
<%= _.template(require('./../includes/footer/footer.html').default)(data) %>
<%= _.template(require('./../includes/default/head-end.html').default)(data) %>
