<% var data = {
title: "Корзина пустая"
}; %>
<%= _.template(require('./../includes/default/head-start.html').default)(data) %>

<%= _.template(require('./../includes/header/header.html').default)(data) %>
<%= _.template(require('./../includes/mobile-menu/mobile-menu.html').default)(data) %>

<section class="section-page-title section-page-title--tea">
  <div class="container section-page-title__container">
    <h1 class="section-page-title__title">
      Корзина
    </h1>
  </div>
</section>

<!--<%= _.template(require('./../includes/menu/menu.html').default)(data) %>-->
<main class="cart-order-page">

  <section class="section-cart section-cart-order">
    <div class="container-fluid p-0">
      <div class="container">
        <%= _.template(require('./../includes/breadcrumb/breadcrumb.html').default)(data) %>
        <div class="title-block">
          <h1 class="title">
            Ваш заказ
          </h1>
        </div>
        <div class="row">
          <div class="col-12">
            <div class="cart-content cart-order-content">
              <div class="cart-content__list">

                <div class="cart-item cart-order-item">

                  <div class="cart-item__header">

<!--                    <div class="product-cart__image-block cart-item__image-block">-->
<!--                      <img-->
<!--                          src="https://bonkashop.com/upload/resize_cache/iblock/c8a/281_400_1/c8ac1ff2a3e71002703aaf02855e0c2b.png"-->
<!--                          alt="" width="180">-->

<!--                    </div>-->
                    <div class="cart-item__info">
                      <a href="#" class="cart-item__link">
                        Ромео & Джульетта / День Святого Валентина
                        (в зернах, 100 г)
                      </a>
                    </div>
                  </div>

                  <div class="cart-item__bottom cart-item-bottom">
                    <div class="row">
                      <div class="col-12 cart-item-bottom__col ">
                        <div class="cart-item-bottom__type d-md-flex d-none ">
                          <span class="cart-item-bottom__text">Цена:</span>
                          <div class="card__price">
                          <span class="total">
                            156
                          </span>
                            <span class="rub">₽</span>
                          </div>
                        </div>
                        <div class="cart-item-bottom__type">
                          <span class="cart-item-bottom__text d-md-flex d-none ">Количество:</span>
                          <label class="control">
                            <button class="button">
                              -
                            </button>
                            <input type="text" value="99">
                            <button class="button">+</button>
                          </label>
                        </div>
                        <div class="cart-item-bottom__type">
                          <span class="cart-item-bottom__text">Итого:</span>
                          <div class="card__price">
                          <span class="total">
                            156
                          </span>
                            <span class="rub">₽</span>
                          </div>
                        </div>
<!--                        <button class="d-md-flex d-none align-items-center button cart-item-bottom__type  cart-item__button" >-->
<!--                          <span class="cart-item-bottom__text">Удалить:</span>-->
<!--                          <img src="img/trash.svg" alt="" class="cart-item__icon-trash">-->
<!--                        </button>-->
                      </div>
                    </div>

                  </div>
                </div>
                <div class="cart-item cart-order-item">

                  <div class="cart-item__header">

                    <!--                    <div class="product-cart__image-block cart-item__image-block">-->
                    <!--                      <img-->
                    <!--                          src="https://bonkashop.com/upload/resize_cache/iblock/c8a/281_400_1/c8ac1ff2a3e71002703aaf02855e0c2b.png"-->
                    <!--                          alt="" width="180">-->

                    <!--                    </div>-->
                    <div class="cart-item__info">
                      <a href="#" class="cart-item__link">
                        Ромео & Джульетта / День Святого Валентина
                        (в зернах, 100 г)
                      </a>
                    </div>
                  </div>

                  <div class="cart-item__bottom cart-item-bottom">
                    <div class="row">
                      <div class="col-12 cart-item-bottom__col ">
                        <div class="cart-item-bottom__type d-md-flex d-none ">
                          <span class="cart-item-bottom__text">Цена:</span>
                          <div class="card__price">
                          <span class="total">
                            156
                          </span>
                            <span class="rub">₽</span>
                          </div>
                        </div>
                        <div class="cart-item-bottom__type">
                          <span class="cart-item-bottom__text d-md-flex d-none ">Количество:</span>
                          <label class="control">
                            <button class="button">
                              -
                            </button>
                            <input type="text" value="99">
                            <button class="button">+</button>
                          </label>
                        </div>
                        <div class="cart-item-bottom__type">
                          <span class="cart-item-bottom__text">Итого:</span>
                          <div class="card__price">
                          <span class="total">
                            156
                          </span>
                            <span class="rub">₽</span>
                          </div>
                        </div>
                        <!--                        <button class="d-md-flex d-none align-items-center button cart-item-bottom__type  cart-item__button" >-->
                        <!--                          <span class="cart-item-bottom__text">Удалить:</span>-->
                        <!--                          <img src="img/trash.svg" alt="" class="cart-item__icon-trash">-->
                        <!--                        </button>-->
                      </div>
                    </div>

                  </div>
                </div>
              </div>
              <div class="cart-content-bottom flex-lg-row flex-column justify-content-between">
                <div class="cart-item-bottom__type  cart-count d-flex">
                  <span class="cart-count__text">В корзине:</span>
                  <span class="cart-count__count">2 товара</span>
                </div>
                <div class="cart-item-bottom__type ">
                  <span class="cart-item-bottom__text">Всего:</span>
                  <div class="card__price mb-0">
                          <span class="total">
                            156
                          </span>
                    <span class="rub">₽</span>
                  </div>
                </div>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>
  </section>

  <section class="section-cart-order-user-data">
    <div class="container-fluid p-0">
      <div class="container">
        <div class="title-block">
          <h2 class="title">
            Ваши контактные данные
          </h2>
        </div>
        <div class="row">
          <div class="col-12">
            <div class="cart-content">
              <div class="cart-content__data">
                <div class="cart-input-list">
                  <div class="cart-content-input-container ">
                    <label for="fio" class="form-label">фио*</label>
                    <input type="text"
                           id="fio"
                           class="form-input">
                  </div>
                  <div class="cart-content-input-container">
                    <label for="phone" class="form-label">номер телефона</label>
                    <input type="text"
                           id="phone"
                           class="form-input">
                  </div>
                  <div class="cart-content-input-container">
                    <label for="email" class="form-label">email</label>
                    <input type="text"
                           id="email"
                           class="form-input">
                  </div>
                  <div class="cart-content-input-container">
                    <label class="form-label">способ получения заказа</label>
                    <label class="select-filter-label">
                      <select class="select-delivery">
                        <option value="2">Получил
                        </option>
                        <option value="1">Получил</option>
                        <option value="1">Получил</option>
                      </select>
                    </label>
                  </div>
                  <div class="cart-content-input-container">
                    <label for="email" class="form-label">пункт выдачи</label>
                    <label class="select-filter-label">
                      <select class="select-delivery">
                        <option value="2">Получил
                        </option>
                        <option value="1">Получил</option>
                        <option value="1">Получил</option>
                      </select>
                    </label>
                  </div>
                  <div class="cart-content-input-container">
                    <label for="email" class="form-label">адрес доставки</label>
                    <input type="text"
                           id="address"
                           class="form-input">
                  </div>
                  <div class="cart-content-input-container">
                    <label for="email" class="form-label">комментарии</label>
                    <input type="text"
                           id="comment"
                           class="form-input">
                  </div>
                  <div class="cart-content-input-container">
                    <label for="email" class="form-label">&nbsp;</label>

                    <div class="agreement">
                      <div class="checkbox">
                        <label class="check-task">
                          <div class="checkbox__text">
                            Я согласен с условиями передачи данных. <a href="#">Соглашение.</a>

                          <input type="checkbox" readonly="">
                            <span class="cr checkbox__cr"></span>

                          </div>

                        </label>
                      </div>

                    </div>

                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="section-cart-order-delivery">
    <div class="container-fluid p-0">
      <div class="container">
        <div class="title-block">
          <h2 class="title">
            Доставка
          </h2>
        </div>


        <div class="row">
          <div class="col-12">
            <div class="cart-content">
              <div class="cart-content__data">
                <div class="cart-delivery">
                <span class="cart-delivery__title">
                  Как и где вы хотите получить заказ
                </span>
                  <div class="type-delivery">
                    <div class="checkbox checkbox-delivery">
                      <label class="check-task" for="type-1" >
                        <div class="checkbox__text d-flex align-items-center">
                          <input readonly="" id="type-1"  type="radio"  name="type">
                          <span class="cr checkbox__cr"></span>
                          Самовывоз
                        </div>
                      </label>
                    </div>
                    <div class="checkbox checkbox-delivery">
                      <label class="check-task" for="type-2">
                        <div class="checkbox__text d-flex align-items-center">
                          <input readonly="" id="type-2"   type="radio" name="type">
                          <span class="cr checkbox__cr"></span>
                          курьером
                        </div>
                      </label>
                    </div>
                  </div>
                  <div class="cart-delivery__comment">
                    <div class="cart-delivery__comment-block">
                      <label for="email" class="form-label">комментарии</label>
                      <textarea class="form-input modal-cheaper__text-area"
                                id="text" aria-describedby="comment"></textarea>
                    </div>
                    <span class="cart-delivery__important">
                    * Cроки отгрузки заказных позиций являются
                    ориентировочными в связи с распространением в мире коронавирусной инфекции.
                  </span>
                  </div>
                  <p class="cart-delivery__text">
                    После оформления заказа на указаный номер телефона придет sms-сообщение с номером заказа. Если вы
                    оставляете адрес электронной почты, то на указанный адрес автоматически сформируется и отправится
                    состав заказа и его описание.
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>


  <section class="section-cart-order-user-data">
    <div class="container-fluid p-0">
      <div class="container">
        <div class="title-block">
          <h2 class="title">
            Способ оплаты
          </h2>
        </div>
        <div class="row">
          <div class="col-12">
            <div class="cart-content">
              <div class="cart-content__data cart-recommend">
                <div class="row">
                  <div class="offset-lg-1 col-lg-10 col-12">
                    <div class="recommend-list flex-wrap">
                      <div class="recommend-item">
                        <div class="recommend-item__image-block">
                          <img src="./img/pay-method-1.svg" alt="">
                        </div>
                        <p class="recommend-item__name">
                          Наличными
                        </p>
                      </div>
                      <div class="recommend-item">
                        <div class="recommend-item__image-block">
                          <img src="./img/pay-method-2.svg" alt="">
                        </div>
                        <p class="recommend-item__name">
                          Картой
                        </p>
                      </div>
                      <div class="recommend-item">
                        <div class="recommend-item__image-block">
                          <img src="./img/pay-method-3.svg" alt="">
                        </div>
                        <p class="recommend-item__name">
                          Онлайн
                        </p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>


  <section class="section-cart-order-promo">
    <div class="container-fluid p-0">
      <div class="container">
        <div class="title-block">
          <h2 class="title">
            Промокод
          </h2>
        </div>
        <div class="row">
          <div class="col-12">
            <div class="cart-content">
              <div class="cart-content__data  ">
                <div class="cart-promo">
                  <div class="cart-promo__input-container">
                    <label for="email" class="form-label">Введите промокод, чтобы принять участие в акции</label>
                    <input type="text"
                           id="promo"
                           class="form-input">
                  </div>
                </div>

              </div>
              <div class="cart-content-bottom flex-lg-row flex-column">
                <div class="cart-item-bottom__type ">
                  <span class="cart-item-bottom__text">Общая стоимость с доставкой:</span>
                  <div class="card__price mb-0">
                          <span class="total">
                            3 256
                          </span>
                    <span class="rub">₽</span>
                  </div>
                </div>
                <div class="cart-item-bottom__type
                      cart-item-bottom__buttons
                      d-flex  ml-lg-auto">
                  <button class="button button--orange">
                    Оформить заказ
                  </button>
                </div>
              </div>

            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="section-cart-police">
    <div class="container-fluid p-0">
      <div class="container">
        <p class="cart-police">
          Нажимая кнопку "Оформить", Вы даете согласие на обработку персональных данных и подтверждаете ознакомленность с
          <a href="">“Политикой конфиденциальности”</a> сайта.
        </p>
      </div>
    </div>
  </section>

</main>


<%= _.template(require('./../includes/form-questions/form-questions.html').default)(data) %>
<%= _.template(require('./../includes/footer/footer.html').default)(data) %>

<%= _.template(require('./../includes/default/head-end.html').default)(data) %>
