<% var data = {
title: "Карточки товаров"
}; %>
<%= _.template(require('./../includes/default/head-start.html').default)(data) %>

<%= _.template(require('./../includes/header/header.html').default)(data) %>
<%= _.template(require('./../includes/mobile-menu/mobile-menu.html').default)(data) %>
<section class="section-page-title section-page-title--news">
  <div class="container section-page-title__container">
    <h1 class="section-page-title__title">
      Новости
    </h1>
  </div>
</section>

<!--<%= _.template(require('./../includes/menu/menu.html').default)(data) %>-->


<section class="section-history">
  <img src="img/news-image-1.png" alt="" class="section-history__image-1">
  <img src="img/news-image-2.png" alt="" class="section-history__image-2">
  <div class="container-fluid p-0">
    <div class="container history">
      <%= _.template(require('./../includes/breadcrumb/breadcrumb.html').default)(data) %>
      <div class="history-list news-list">
        <div class="history-item news-item">
          <div class="history-item__main-content flex-lg-row flex-column">
            <div class="history-item__r">
              <div class="stock">
                <div class="stock__image-block history-item__image-block">
                  <img src="img/news.png" alt="" height="250" width="445">
                </div>

              </div>
            </div>

            <div class="history-item__l">
              <h3 class="history-item__title">
                Колониальный период
              </h3>
              <p class="history-item__desc">
                Какая обжарка кофе лучшая в мире? Итальянская? Французская?
                А вот и нет, все меняется. Сегодня в Тайбэе (Тайвань) прошел чемпионат мира по обжарке кофе. И в нем
                второй год подряд побеждает обжарщик из России!
                В нашей стране действительно потрясающе обжаривают кофе. Потому мы уверены, что уже скоро словосочетание
                «русская обжарка» во всем мире будет восприниматься как знак высочайшего качества.
              </p>

            </div>
          </div>

        </div>

        <div class="history-item news-item">

          <div class="history-item__main-content flex-lg-row flex-column">
            <div class="history-item__r">
              <div class="stock">
                <div class="stock__image-block history-item__image-block">
                  <img src="img/news-1.png" alt="" height="250" width="445">
                </div>

              </div>

            </div>

            <div class="history-item__l">
              <h3 class="history-item__title">
                Приглашение на выставку
              </h3>
              <p class="history-item__desc">
                Уважаемые партнеры!
                <br>
                <br>
                Рады сообщить, что с 7 по 10 октября в МВЦ «Крокус Экспо» пройдет выставка PIR Expo 2019.
                И мы примем в ней участие. Пройдет презентация нашего нового бренда «Bonka».
                Подходите к нашему стенду (зал №15, павильон №3) и узнаете о невероятно привлекательном спец.
                предложении.
              </p>

            </div>
          </div>
        </div>

        <div class="history-item news-item">

          <div class="history-item__main-content flex-lg-row flex-column">
            <div class="history-item__r">
              <div class="stock">
                <div class="stock__image-block history-item__image-block">
                  <img src="img/news-2.png" alt="" height="250" width="445">
                </div>

              </div>

            </div>

            <div class="history-item__l">
              <h3 class="history-item__title">
                Начал работать фирменный интернет-магазин
              </h3>
              <p class="history-item__desc">
                В компанию "Царское Подворье" часто поступают звонки и письма с вопросом: "где можно купить ваш кофе?".
                Нас радует подобное внимание, ведь это доказательство качества наших продуктов.
                Не смотря на широкую сеть дистрибьюторов по всей России, не все позиции нашего широкого ассортимента
                легко купить.
                Специально для настоящих и будущих поклонников "Царского подворья" мы запустили интернет-магазин. В нем
                представлены все 278 видов кофе, которые мы производим. Так же в нем можно найти наш чай, мармелад,
                драже и кофейную посуду.
              </p>

            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</section>


<%= _.template(require('./../includes/form-questions/form-questions.html').default)(data) %>
<%= _.template(require('./../includes/footer/footer.html').default)(data) %>
<%= _.template(require('./../includes/default/head-end.html').default)(data) %>
