<% var data = {
title: "Акции"
}; %>
<%= _.template(require('./../includes/default/head-start.html').default)(data) %>

<%= _.template(require('./../includes/header/header.html').default)(data) %>
<%= _.template(require('./../includes/mobile-menu/mobile-menu.html').default)(data) %>
<section class="section-page-title section-page-title--stocks">
  <div class="container section-page-title__container">
    <h1 class="section-page-title__title">
      Акции
    </h1>
  </div>
</section>

<%= _.template(require('./../includes/menu/menu.html').default)(data) %>

<section class="section-stocks">
  <img src="img/news-image-1.png" alt="" class="section-history__image-1">
  <div class="container-fluid p-0">
    <div class="container stocks">
      <%= _.template(require('./../includes/breadcrumb/breadcrumb.html').default)(data) %>
      <div class="row stocks__list">
        <div class="col-lg-4 col-md-6 col-sm-12 col-12 col">
          <a href="#" class="stock">
            <div class="stock__image-block">
              <img src="	https://bonkashop.com/upload/iblock/f9b/f9b48bb182888381fd8c4a2c8fa0bbdb.jpg" alt="" height="196" width="341">
            </div>
            <p class="stock__text">
              <span>Чай дня</span>
            </p>
          </a>
        </div>
        <div class="col-lg-4 col-md-6 col-sm-12 col-12 col">
          <a href="#" class="stock">
            <div class="stock__image-block">
              <img src="img/stocks-item.png" alt="" height="196" width="341">
            </div>
            <p class="stock__text">
              <span>Чай дня</span>
            </p>
          </a>
        </div>
        <div class="col-lg-4 col-md-6 col-sm-12 col-12 col">
          <a href="#" class="stock">
            <div class="stock__image-block">
              <img src="img/stocks-item.png" alt="" height="196" width="341">
            </div>
            <p class="stock__text">
              <span>-10% Скидка В день рождения</span>
            </p>
          </a>
        </div>
        <div class="col-lg-4 col-md-6 col-sm-12 col-12 col">
          <a href="#" class="stock">
            <div class="stock__image-block">
              <img src="img/stocks-item.png" alt="" height="196" width="341">
            </div>
            <p class="stock__text">
              <span>Чай дня</span>
            </p>
          </a>
        </div>
      </div>
      <%= _.template(require('./../includes/pagination/pagination.html').default)(data) %>
    </div>
  </div>
</section>


<%= _.template(require('./../includes/form-questions/form-questions.html').default)(data) %>
<%= _.template(require('./../includes/footer/footer.html').default)(data) %>
<%= _.template(require('./../includes/default/head-end.html').default)(data) %>
