$p: 10px

.card
  position: relative
  z-index: 1
  padding-top: 30px
  background: #26282D
  box-shadow: 0px 2px 25px rgba(0, 0, 0, 0.15)
  border-radius: 5px
  display: flex
  flex-direction: column
  margin-bottom: 30px
  padding-bottom: 25px
  //justify-content: center
  align-items: center
  &__card__image-area
    width: 100%
    display: flex
    justify-content: center
    padding-left: $p
    padding-right: $p
  &__image-block
    width: 180px
    height: 180px
    background-image: url("../../../img/image-block-border.svg")
    background-position: center
    background-repeat: no-repeat
    background-size: auto
    padding: 10px
    border-radius: 50%
    overflow: hidden
    margin-bottom: 15px
    img
      max-width: 100%
      width: 100%
      border-radius: 50%
      overflow: hidden
      object-position: center
  &__title
    word-break: break-word
    text-align: center
    width: 100%
    color: #FFD991
    font: 400 27px/30px 'Pattaya', sans-serif
    margin-bottom: 25px
    padding-left: $p
    padding-right: $p
  &__sub-title
    padding-left: $p
    padding-right: $p
    text-transform: uppercase
    color: #fff
    font: 700 16px/21px 'Open Sans', sans-serif
  &__price
    width: 100%
    position: relative
    display: flex
    margin-bottom: 27px
    justify-content: center
    padding-left: $p
    padding-right: $p
    .total
      white-space: nowrap
      color: #DC7000
      font: 700 27px/30px 'Open Sans', sans-serif
    .rub
      padding-left: 5px
      color: #C0BEA9
      font: 400 27px/30px 'PT Sans', sans-serif


.card-type
  position: relative
  width: 100%
  flex-wrap: wrap
  display: flex
  justify-content: center
  padding: 0 0 10px 0
  //margin: 0 0 10px 0
  border-bottom: 1px solid #F4C06f
  .type
    cursor: pointer
    margin: 0 5px 10px 5px
  .radio
    display: none
  .label
    cursor: pointer
    background: #2C3D32
    border-radius: 5px
    color: #fff
    padding: 5px 10px
    display: flex
    justify-content: center
    align-items: center
    font: 600 16px/22px 'Open Sans', sans-serif
  .radio:checked + .label
    background: #FFD991
    color: #14161D
    font-weight: 700

.card__control
  margin-top: 25px
  width: 100%
  padding: 0 15px
  flex-wrap: nowrap
  .control,.button--orange
    margin: 0 5px 5px
    flex: 1 1 50%
    max-width: inherit

.card-select
  position: relative
  //max-width: 100px
  width: 100%
  padding: 0 15px
  border-bottom: 1px solid #f4c06f
  &__content
    margin: 5px 0
    max-width: 260px
    width: 100%
    position: relative
    justify-content: space-between
    display: flex
    align-items: center
    flex-wrap: wrap
    &::before
      left: 0
      top: 50%
      content: ''
      position: absolute
      width: 100%
      height: 2px
      border-bottom: 1px dashed #FFFFFF
  .select-filter-label
    background: #26282d
    //max-width: 150px
    //min-width: 150px
    width: 100%
    position: relative
    z-index: 1
    //padding: 3px
  &__text
    width: 100%
    text-align: center
    margin: 0 0 5px 0
    position: relative
    z-index: 1
    background: #26282d
    //padding: 3px
    color: #C0BEA9
    font: 600 18px/20px 'Open Sans', sans-serif

.product-card-select
  border-bottom: none
  margin-bottom: 15px
  padding: 0
  .card-select__content
    margin: 0
    flex-wrap: nowrap
    justify-content: flex-start
  .card-select__text
    padding-right: 5px
    text-align: left
    margin: 0 100px 0 0
    color: #fff
    font: 600 18px/25px "Open Sans",sans-serif
  .select-filter-label
    padding: 0 5px
    margin-left: auto
    flex: 0 0 260px
    width: 260px
    @media  all and (max-width: 575.9px)
      flex: 1 1 auto
      width: 100%
      padding: 0
