<div class="card">
  <div class="card__image-area">
    <div class="card__image-block">
      <img src="https://bonkashop.com/upload/resize_cache/iblock/2af/281_400_1/2af173424a0549984a359def3fba4705.png" alt="">
    </div>
  </div>

  <div class="card__title">
    Барбадос(Бонка)
  </div>
  <div class="card__price">
    <span class="total">
      156
    </span>
    <span class="rub">₽</span>
  </div>

  <div class="card-type">
    <div class="type">
      <input type="radio" id="type-1" class="radio" name="type">
      <label for="type-1" class="label">
        100 г
      </label>
    </div>
    <div class="type">
      <input type="radio" id="type-2" class="radio" name="type">
      <label for="type-2" class="label">
        200 г
      </label>
    </div>
    <div class="type">
      <input type="radio" id="type-3" class="radio" name="type">
      <label for="type-3" class="label">
        300 г
      </label>
    </div>
  </div>
  <div class="card-select d-flex justify-content-center align-items-center">
    <div class="card-select__content">
      <span class="card-select__text">
      Помол
    </span>
      <label class="select-filter-label">
        <select class="select-type-product">
          <option value="2">Для капельной кофеварки (крупный)
          <option value="1">Для френч-пресса (крупный)</option>
          <option value="1">Для эспрессо грубо (средний)</option>
          <option value="1">Для чашки (средний)</option>
          <option value="1">s</option>
        </select>
      </label>
    </div>
  </div>
  <div class="card__control d-flex justify-content-center">

    <label class="control">
      <button class="button">
        -
      </button>
      <input type="text" value="99">
      <button class="button">+</button>
    </label>

    <button class="button button--orange">
      В корзину
    </button>
  </div>
</div>
